{% set title = "О проекте" %}
{% extends "layout.html" %}
{% block content %}

<section class="b-bnr b-bnr--n_1" style="background-image: url(/img/b-bn/1.jpg);">
    <div class="b-bnr__inner">
        <h2 class="b-bnr__header">СЛУЖБА ГОРОДСКИХ СЕРВИСОВ</h2>
        <div class="b-bnr__text">
            <p>Уникальный, многофункциональный сервис, разработанный для клиентов компании RDI, с полным циклом информационного сопровождения и возможностью прямого контроля качества сервисных услуг, их оплаты и обратной связи.</p>
        </div>
    </div>
</section>
<section class="b-panel">
	<div class="l-center-column" style="padding-top: 0; padding-bottom: 20px;">
		<div class="l-about-page-sec">
		    <h1 class="text-center" style="padding-bottom: 40px;">С ПОМОЩЬЮ ПОРТАЛА ВЫ СМОЖЕТЕ</h1>
		    <div class="l-about-page-sec__split">
		        <div class="l-about-page-sec__half l-about-page-sec__half--left">
		            <ul class="b-icolist">
		                <li class="b-icolist__leaf">Получить любую квалифицированную консультацию и оперативную информацию обо всем, что происходит на территории ЖК и за его пределами, в том числе таких полезных вещах, как погода, вызов такси, узнать о ближайшем автобусе или посмотреть пробки на своих избранных маршрутах.
		                </li>
		                <li class="b-icolist__leaf">Увидеть, что происходит во дворе вашего дома через веб-камеры в реальном времени. Узнать необходимую информацию о сервисных компаниях и их услугах, отправить им заявку и оплатить счета, узнать любой интересующий телефон в ЖК в телефонном справочнике.</li>
		                <li class="b-icolist__leaf">Вы сможете быть в курсе новостей Культурного центра и афиши его мероприятий, записаться на мастер-класс или занятие, которое там проходит, посетить место для образования, досуга и творчества, а также отразить и реализовать Ваши интересы и душевные потребности!</li>
		            </ul>
		        </div>
		        <div class="l-about-page-sec__half l-about-page-sec__half--right text-center">
		        	<figure class="b-cornered-photo" style="top: 4px;right: 7px;">
		        		<div class="b-cornered-photo__corner"></div>
		        		<img src="/img/about-page-photo1.jpg" alt="" class="b-cornered-photo__img">
		        	</figure>
		        </div>
		    </div>
		</div>
	</div>
    
</section>

<section class="l-center-column">
    <div class="l-about-page-sec">
        <h2 class="h1 text-center">КАКИЕ ПРЕИМУЩЕСТВА ИМЕЮТ ЖИТЕЛИ?</h2>
        <div class="l-about-page-sec__split" style="padding:37px 10px 0;">
        	<div class="l-about-page-sec__half l-about-page-sec__half--left">

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico ico ico-phone"></i></div>
						<div class="b-icocard__topright">Все необходимые телефоны, в том числе экстренные, инфраструктуры объекта и района</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_green ico ico-news"></i></div>
						<div class="b-icocard__topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_yellow ico ico-message"></i></div>
						<div class="b-icocard__topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_blue2 ico ico-rouble"></i></div>
						<div class="b-icocard__topright">Оплатить коммунальные услуги, распечатать квитанцию или передать показания счетчиков онлайн, теперь просто.</div>
					</div>
				</div>

				

        	</div>

			<div class="l-about-page-sec__half l-about-page-sec__half--right">

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_violet ico ico-wifi"></i></div>
						<div class="b-icocard__topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat repellendus commodi quam.</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_green2 ico ico-webcam"></i></div>
						<div class="b-icocard__topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_violet2 ico ico-gift"></i></div>
						<div class="b-icocard__topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>

				<div class="b-icocard">
					<div class="b-icocard__top">
						<div class="b-icocard__topleft"><i class="b-icocard__ico b-icocard__ico--color_green3 ico ico-calendar"></i></div>
						<div class="b-icocard__topright">Записаться на мастер-класс, или организовать совместное мероприятие, воспользовавшись уникальной площадкой RDI – Культурным центром</div>
					</div>
				</div>

			</div>
        </div>
    </div>
</section>

<section class="b-panel" style="margin-bottom: 20px;">
	<div class="l-about-page-sec">
		<div class="l-center-column l-center-column--pad_0 l-center-column--tight">
			<h2 class="h1 text-center" style="padding-bottom:30px;">ЦЕЛИ ПРОЕКТА?</h2>
			<!-- Editor output -->
			<div class="b-cms-editor-output">
				<p style="font-size: 19px;">Служба Городских Сервисов является единым каналом для коммуникации между внутренними подразделениями RDI, жителями, сервисными компаниями, муниципальными органами, девелоперами. </p>
				<br>
				<p>Принимает участие в улучшении качества проектов, в том числе развитии инфраструктуры или корректировке существующей с учетом потребности жителей.
	Занимается разработкой и внедрением мероприятий по развитию услуг сервисных компаний, повышения уровня качества обслуживания, а также контролем за качеством предоставляемых услуг сервисными компаниями и арендаторами.
	Поддерживая Культурный центр, как единый центр формального и неформального общения, проводит мероприятия по организации досуга и развития для жителей и потенциальных клиентов.
	Создает информационные площадки для жителей, арендаторов, сервисных компаний.</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}