{% set title = "Расписание автобусов" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">РАСПИСАНИЕ АВТОБУСОВ</h1>
<h2 style="padding-bottom: 20px;">НОВО-МОЛОКОВО</h2>


<div class="b-schedule">
<table class="b-schedule b-schedule__table">
<thead>
<tr>
	<th  class="b-schedule__th" colspan="3">СТАНЦИЯ ХИМКИ</th>
	<th  class="b-schedule__th">ПЛАТФОРМА ХЛЕБНИКОВО</th>
</tr>
</thead>
<tbody>
	<tr>
		{% for i in range(0,4) %}
			<td class="b-schedule__td b-schedule__td--bold">АВТОБУС №11 ОСТАНОВКА «ВОДНИК»</td>
		{% endfor %}
	</tr>
	{% for row in range(0,2) %}
		<tr>
			{% for td in range(0,4) %}
				<td class="b-schedule__td">От остановки 7:13 - 23:43, примерно каждые <br>10 - 15 минут</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
<h2 style="padding-top: 33px;padding-bottom: 21px;">ЮЖНОЕ ВИДНОЕ</h2>
<div class="b-dlscheme">
	<div class="b-dlscheme__left"><img src="/img/dlscheme.png" alt="" class="b-dlscheme__pic"></div>
	<div class="b-dlscheme__right">
		<div class="b-dlscheme__desc">СХЕМА ДВИЖЕНИЯ АВТОБУСОВ <br>ПО ЛЕНИНСКОМУ РАЙОНУ</div>
		<a href="#" class="btn btn-primary btn-lg">Скачать схему</a>
	</div>
	
</div>
</div>
{% endblock %}

{% block page_bottom %}{% endblock %}