{% set title = "Контакты" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
    <h1 class="b-page-header">ЭКСТРЕННЫЕ ТЕЛЕФОНЫ</h1>
    <section class="b-contacts">
        <h4 class="b-contacts__title b-contacts__title--color_n2">НОВО-МОЛОКОВО</h4>
        <div class="b-contacts__list">
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Управляющий объектом<br>АП Южная Долина</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Начальник службы<br>Эксплуатации</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">ГЛАВНЫЙ<br>ИНЖЕНЕР –ЭНЕРГЕТИК</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">«ОБЛГАЗСТРОЙ»</h6>
                <div class="b-contacts__value">Абонентский отдел
                    <br>+7 498 547-17-23</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Дежурный<br>Электрик</h6>
                <div class="b-contacts__value">+7 985 253-80-68</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Дежурный<br>Сантехник</h6>
                <div class="b-contacts__value">+7 915 405-90-14</div>
            </div>
        </div>
    </section>
    <section class="b-contacts">
        <h4 class="b-contacts__title b-contacts__title--color_n4">ЮЖНОЕ ВИДНОЕ</h4>
        <div class="b-contacts__list">
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Управляющий объектом<br>АП Южная Долина</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Начальник службы<br>Эксплуатации</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">ГЛАВНЫЙ<br>ИНЖЕНЕР –ЭНЕРГЕТИК</h6>
                <div class="b-contacts__value">Захаров Дмитрий
                    <br>+7 967 076-41-42</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">«ОБЛГАЗСТРОЙ»</h6>
                <div class="b-contacts__value">Абонентский отдел
                    <br>+7 498 547-17-23</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Дежурный<br>Электрик</h6>
                <div class="b-contacts__value">+7 985 253-80-68</div>
            </div>
            <div class="b-contacts__item">
                <h6 class="b-contacts__caption">Дежурный<br>Сантехник</h6>
                <div class="b-contacts__value">+7 915 405-90-14</div>
            </div>
        </div>
    </section>
    <section>
        <h2 style="padding: 12px 0 30px;">ОСТАЛЬНЫЕ ТЕЛЕФОНЫ</h2>
        <div class="b-big-accordion">
            <h4 class="b-big-accordion__header b-big-accordion__header--color_n2">НОВО-МОЛОКОВО</h4>
            <div class="b-big-accordion__content">
                {% include "includes/blocks/b-subcontacts.html" %}
            </div>
            <h4 class="b-big-accordion__header b-big-accordion__header--color_n3">ЗАГОРОДНЫЙ КВАРТАЛ</h4>
            <div class="b-big-accordion__content">
                {% include "includes/blocks/b-subcontacts.html" %}
            </div>
            <h4 class="b-big-accordion__header b-big-accordion__header--color_n4">ЮЖНОЕ ВИДНОЕ</h4>
            <div class="b-big-accordion__content">
                {% include "includes/blocks/b-subcontacts.html" %}
            </div>

        </div>
    </section>
</div>
{% endblock %}

{% block page_bottom %}
<div id="extraContactsModal" class="b-modal">
    <div class="b-modal__inner b-modal__inner--bg_white b-modal__inner--size_xl b-modal__inner--pad_0">
        <div class="b-extra-contact-modal">
            <div class="b-extra-contact-modal__mapwrap">
            	<div class="b-extra-contact-modal__map" id="extraContactsMapContainer"></div>
            	<button class="b-extra-contact-modal__mapbtn">ПОСТРОИТЬ МАРШРУТ</button>
                <div class="b-extra-contact-modal__toast" style="display:none;">Укажите ваше местоположение</div>
            </div>
            <div class="b-extra-contact-modal__desc">
				<h3 class="b-extra-contact-modal__head"></h3>
                <div class="b-extra-contact-modal__text b-cms-editor-output"></div>
            </div>
        </div>
    </div>
</div>
<script>
new Accordion($(".b-big-accordion:first"));

var mapInstanceForExtraContact = new GMaps({
    div: '#extraContactsMapContainer',
    lat: 55.7522200,
    lng: 37.6155600,
    zoom: 11,
});

$(".b-subcontacts__list").on('click', 'a', function(event) {
    event.preventDefault();
    window.pagePreloader.show();
    var $link = $(event.currentTarget);

    $.ajax({
            url: '/ajax/get_additional_contacts_info.json',
            dataType: 'json',
            data: { id: $link.data("ctid") },
        })
        .done(function(contactInfo) {
            var $extraContactBlock = $("#extraContactsModal").find('.b-extra-contact-modal:first');
            var $heading = $extraContactBlock.find(".b-extra-contact-modal__head:first");
            var $text = $extraContactBlock.find(".b-extra-contact-modal__text:first");

            $heading.html(contactInfo.title);
            $text.html(contactInfo.description);
            google.maps.event.clearListeners(mapInstanceForExtraContact.map, 'click');
            mapInstanceForExtraContact.map.setOptions({
                draggableCursor: null,
            });
            mapInstanceForExtraContact.removeMarkers();
            mapInstanceForExtraContact.cleanRoute();
            mapInstanceForExtraContact.addMarker({
                lat: contactInfo.location.lat,
                lng: contactInfo.location.lng,
                title: contactInfo.title,
            });

            $extraContactBlock
                .find(".b-extra-contact-modal__mapbtn:first")
                .data('route-destination', {
                    lat: contactInfo.location.lat,
                    lng: contactInfo.location.lng,
                    title: $link.html(),
                })
                .css("background-color",$link.parents(".b-big-accordion__content:first").prev(".b-big-accordion__header").css("background-color"))
                .show();
            $extraContactBlock.find(".b-extra-contact-modal__toast:first").hide();

            $.fancybox.open($("#extraContactsModal"));
            window.requestAnimationFrame(function() {
                mapInstanceForExtraContact.refresh();
                mapInstanceForExtraContact.setCenter(contactInfo.location);
            })


        })
        .fail(function() {
            alert("Не удалось получить информацию с сервера!\nПопробуйте позже или обратитесь к администрации сайта.")
        })
        .always(function() {
            window.pagePreloader.hide();
        });

    return false;
});

$(".b-extra-contact-modal__mapbtn:first").on('click', function(event) {
    event.preventDefault();
    var $btn = $(event.target);
    var $toast  = $btn.next(".b-extra-contact-modal__toast:first");
    $btn.fadeOut(100, function () {
        $toast.fadeIn(100);
    });

    var dest = $btn.data('route-destination');

    mapInstanceForExtraContact.map.setOptions({
        draggableCursor: 'pointer',
    });
    google.maps.event.addListener(mapInstanceForExtraContact.map, 'click', function(event) {

        var currentPosition = {
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
        }

        mapInstanceForExtraContact.removeMarkers();
        mapInstanceForExtraContact.cleanRoute();
        mapInstanceForExtraContact.addMarker({
            lat: dest.lat,
            lng: dest.lng,
            title: dest.title,
        });

        mapInstanceForExtraContact.addMarker({
            lat: currentPosition.lat,
            lng: currentPosition.lng,
            title: "Вы здесь",
        });
        mapInstanceForExtraContact.drawRoute({
            destination: [dest.lat, dest.lng],
            origin: [currentPosition.lat, currentPosition.lng],
            travelMode: "driving",
            strokeColor: "#47acfa",
            strokeOpacity: 0.8,
            strokeWeight: 6,
        });
        mapInstanceForExtraContact.fitZoom();
    });
});
</script>
{% endblock %}