{% set title = "Культурный центр" %}
{% extends "layout.html" %}
{% import "./includes/blocks/b-timetbl2.html" as timetbl2 %}
{% block content %}
<div class="l-center-column">
<h1>Культурный центр</h1>
</div>
{{ timetbl2.block('cultcenterPageTimetable') }} 
<div class="l-center-column">
	<div class="b-panel">
		<article class="b-cultcenterdesc">
			<h2 class="b-cultcenterdesc__head">ЧТО ТАКОЕ КУЛЬТУРНЫЙ ЦЕНТР RDI?</h2>
			<div class="b-cms-editor-output">
				<p>В Культурном Центре есть своя программа, в которую входят: мастер-классы, праздники, выставки, тренировки, семинары от приглашенных педагогов, но главное - каждый житель сможет претворить в жизнь свой проект, провести (или проводить еженедельно) занятие или организовать праздник.</p>
				<p>Культурный Центр поддержит Ваши инициативы и поможет в их осуществлении. Его деятельность - это прежде всего отражение Ваших интересов и душевных потребностей.</p>
				<table style="width: 100%;margin-top: 45px;">
					<tbody>
						<tr>
							<td style="vertical-align: top;padding-right: 54px;">
								<h4 style="font-size: 18px;margin-top: 22px;margin-bottom: 21px;">СООБЩЕСТВО ЖИТЕЛЕЙ</h4>
								<p>В Культурном Центре есть своя программа, в которую входят: мастер-классы, праздники, выставки, тренировки, семинары от приглашенных педагогов, но главное - каждый житель сможет претворить в жизнь свой проект, провести (или проводить еженедельно) занятие или организовать праздник.</p>
								<br>
								<p>Культурный Центр поддержит Ваши инициативы и поможет в их осуществлении. Его деятельность - это прежде всего отражение Ваших интересов и душевных потребностей.</p>
								<br>
								<br>
								<blockquote class="blockquote">
								  Это уютное пространство <br>для образования, досуга и <br>творчества
								</blockquote>
							</td>
							<td style="vertical-align: top;">
								<figure class="b-cornered-photo" style="width:330px;">
					        		<div class="b-cornered-photo__corner"></div>
					        		<img src="/img/photo1.jpg" alt="" class="b-cornered-photo__img">
					        	</figure>
							</td>
						</tr>
					</tbody>
				</table>
				<h4 style="font-size: 18px;margin-top: 35px;margin-bottom: 21px;">МЕНЕДЖЕР ПО РАБОТЕ С СООБЩЕСТВОМ ЖИТЕЛЕЙ</h4>
				<p>Это ваш главный помощник и проводник в культурную жизнь проекта. К нему вы можете обратиться с любым вопросом, предложением и инициативой, касаемо работы Культурного Центра.</p>
				<h4 style="font-size: 18px;margin-top: 35px;margin-bottom: 21px;">ЧТО ЭТО ТАКОЕ И ЗАЧЕМ ЭТО НУЖНО?</h4>
				<p>Культурный центр - это пространство для общения жителей, место, которое принадлежит всем и каждому в отдельности. Главные ценности - добрососедство, сотворчество, развитие. Здесь приветствуются все возрасты, взгляды и интересы. Ваше активное участие в работе Культурного центра сделает жизнь в жилом комплексе более насыщенной и интересной!</p>
				<table style="width: 100%;margin-top: 40px;margin-bottom: 48px;">
					<tbody>
						<tr>
							<td style="padding-bottom: 30px;"><img src="/img/upload/001.jpg" alt=""></td>
							<td style="text-align: right;padding-bottom: 30px;"><img src="/img/upload/004.jpg" alt=""></td>
						</tr>
						<tr>
							<td><img src="/img/upload/003.jpg" alt=""></td>
							<td style="text-align: right;"><img src="/img/upload/002.jpg" alt=""></td>
						</tr>
					</tbody>
				</table>
				<h4 style="font-size: 18px;margin-top: 35px;margin-bottom: 40px;text-align: center;">ЧТО МОЖНО ЗДЕСЬ ДЕЛАТЬ?</h4>

				<ul class="b-textgrid" style="margin-right: -30px;">
				    <li class="b-textgrid__leaf">Быть ведущим мастер-классов, кинопоказов и др.</li>
				    <li class="b-textgrid__leaf">Реализовывать свои инициативы и проекты</li>
				    <li class="b-textgrid__leaf">Знакомиться и дружить с соседями</li>
				    <li class="b-textgrid__leaf">Участвовать в развитии жилого комплекса</li>
				    <li class="b-textgrid__leaf">Заниматься творчеством и саморазвитием</li>
				    <li class="b-textgrid__leaf">Обмениваться новостями и открывать для себя новое</li>
				    <li class="b-textgrid__leaf">Проводить соседские вечеринки и семейные праздники</li>
				</ul>
				<hr>
				<h4 style="font-size: 18px;margin-top: 49px;margin-bottom: 49px;text-align: center;">ПРИНЦИПЫ РАБОТЫ</h4>

				<ul class="b-textgrid b-textgrid--v_2 b-textgrid--ta_center">
				    <li class="b-textgrid__leaf">Открытость и доброжелательность</li>
				    <li class="b-textgrid__leaf">Созидание и творческий подход</li>
				    <li class="b-textgrid__leaf">Самоорганизация <br>и кооперация</li>
				    <li class="b-textgrid__leaf">Разумное потребление ресурсов</li>
				   
				</ul>

			</div>
		</article>
	</div>
</div>
{% endblock %}

{% block page_bottom %}
<script>
    new Timetable("#cultcenterPageTimetable");
</script>
{% endblock %}