{% set title = "empty page" %}
{% extends "layout.html" %}
{% set notLogged = true %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">EMPTY PAGE</h1>
</div>
{% endblock %}

{% block page_bottom %}

{% endblock %}