{% set title = "Обратная связь" %}
{% extends "layout.html" %}
{% block content %}
    <div class="l-center-column">
        <div class="b-supporthead">
            <a href="messages.html" class="b-supporthead__backbtn"><i class="ico ico-mini-arrow"></i></a>
            <h1 class="b-supporthead__title">НАПИСАТЬ СООБЩЕНИЕ</h1>
        </div>

        <section class="b-panel">
            <h4 class="b-panel__header">Выберите раздел, к которому относится ваше обращение</h4>
            <form class="l-feedback-form" id="feedbackForm">
                <div class="l-feedback-form__subjects l-feedback-form__row--n_1">
                    <div class="b-bigradio">
                        <input type="radio" class="b-bigradio__inp" name="subj" id="subjradio1" checked>
                        <label for="subjradio1" class="b-bigradio__btn"><span>Сообщить о проблеме</span></label>
                        <input type="radio" class="b-bigradio__inp" name="subj" id="subjradio2">
                        <label for="subjradio2" class="b-bigradio__btn"><span>Выразить благодарность</span></label>
                        <input type="radio" class="b-bigradio__inp" name="subj" id="subjradio3">
                        <label for="subjradio3" class="b-bigradio__btn"><span>Внести предложение</span></label>
                        <input type="radio" class="b-bigradio__inp" name="subj" id="subjradio4">
                        <label for="subjradio4" class="b-bigradio__btn"><span>Общая консультация</span></label>
                    </div>
                </div>
                <div class="l-feedback-form__inputs-row">
                    <div class="l-feedback-form__input-wrap l-feedback-form__input-wrap--residential">
                        <div class="form-group">
                            <label for="residentialFormInput">Выберите ЖК</label>
                            <select class="form-control" required autocomplete="off">
                                <option value selected disabled> - выберите - </option>
                                <option value="1">ЗАГОРОДНЫЙ КВАРТАЛ</option>
                                <option value="2">ПАРК КАМЕНКА</option>
                                <option value="3">ЮЖНОЕ ВИДНОЕ</option>
                            </select>
                        </div>
                    </div>
                    <div class="l-feedback-form__input-wrap l-feedback-form__input-wrap--phone">
                        <div class="form-group">
                            <label for="phoneFeedbackFormInput">Телефон</label>
                            <input type="tel" class="form-control" required id="phoneFeedbackFormInput" placeholder="Ваш телефон" value="+7 987 876-98-11" name="phone">
                        </div>
                    </div>
                    <div class="l-feedback-form__input-wrap l-feedback-form__input-wrap--address">
                        <div class="form-group">
                            <label for="addressFeedbackFormInput">Адрес</label>
                            <select class="form-control b-combobox" required autocomplete="off"  id="addressFeedbackFormInput" name="address">
                                <option value selected disabled> - Ваш адрес - </option>
                                <option value="ActionScript">ActionScript</option>
                                <option value="AppleScript">AppleScript</option>
                                <option value="Asp">Asp</option>
                                <option value="BASIC">BASIC</option>
                                <option value="C">C</option>
                                <option value="C++">C++</option>
                                <option value="Clojure">Clojure</option>
                                <option value="COBOL">COBOL</option>
                                <option value="ColdFusion">ColdFusion</option>
                                <option value="Erlang">Erlang</option>
                                <option value="Fortran">Fortran</option>
                                <option value="Groovy">Groovy</option>
                                <option value="Haskell">Haskell</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="Lisp">Lisp</option>
                                <option value="Perl">Perl</option>
                                <option value="PHP">PHP</option>
                                <option value="Python">Python</option>
                                <option value="Ruby">Ruby</option>
                                <option value="Scala">Scala</option>
                                <option value="Scheme">Scheme</option>
                            </select>
                        </div>
                    </div>
                    <div class="l-feedback-form__input-wrap l-feedback-form__input-wrap--section">
                        <div class="form-group">
                            <label for="sectionFeedbackFormInput">Подъезд</label>
                            <input class="form-control" id="sectionFeedbackFormInput" placeholder="_" maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="l-feedback-form__textarea-wrap">
                    <div class="form-group">
                        <label for="messageFeedbackFormInput">Сообщение</label>
                        <textarea class="form-control" rows="6" required id="messageFeedbackFormInput" placeholder="Напишите нам по любому предложению, вопросу или проблеме!" name="message"></textarea>
                    </div>
                </div>
                <div class="l-feedback-form__uploads">
                    <div class="b-fileupload" id="feedbackFormFileUpload">
                        <label class="b-fileupload__lbl">
                            <i class="b-fileupload__ico ico ico-add-files"></i>Прикрепить файл
                            <input type="file" name="files[]" data-url="/uploading/" class="b-fileupload__inp">
                        </label>
                    </div>
                </div>
                <div class="l-feedback-form__submit-wrap">
                    <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
                </div>
            </form>
        </section>
</div>
{% endblock %}



{% block page_bottom %}
<script>
new InteractiveForm({ el: "#feedbackForm" });

new Fileupload("#feedbackFormFileUpload");
</script>
{% endblock %}