{% set title = "FRIENDS & FAMILY" %}
{% extends "layout.html" %}
{% block content %}
<section class="b-bn3">
    <div class="l-center-column l-center-column--pad_0">
        <div class="b-bn3__inner">
            <div class="b-bn3__content">
                <h1 class="b-bn3__title">ПРОГРАММА ЛОЯЛЬНОСТИ <br>КЛИЕНТОВ RDI</h1>
                <div class="b-bn3__text">Если Вы уже являетесь владельцем недвижимости в одном из жилых комплексов от RDI, Вы становитесь членом клубной программы FRIENDS &amp; FAMILY.</div>
                <div class="b-bn3__buttons">
                    <a href="http://loyalty.rdi.ru/" target="_blank" rel="nofollow noopener" class="b-bn3__btn btn btn-lg btn-primary">Получить карту</a>
                    <a href="#" class="b-bn3__btn btn btn-lg btn-ghost">Подробнее о программе</a>
                </div>
            </div>
            <div class="b-bn3__bg" style="background-image: url(/img/b-bn/3.jpg);"></div>
        </div>
    </div>
</section>

<section class="b-get-club-card">
    <div class="l-center-column l-center-column--pad_0">
        <h2 class="b-section-title">КАК ОФОРМИТЬ КЛУБНУЮ КАРТУ</h2>
        <h4 class="b-section-subtitle">КЛУБНЫЕ КАРТЫ FRIENDS AND FAMILY</h4>
        <div class="b-get-club-card__inner">
            <div class="b-get-club-card__phase">
                <div class="b-get-club-card__phasenum">1</div>
                <div class="b-get-club-card__phasetitle">Отправьте заявку</div>
                <div class="b-get-club-card__phasetext">Направить заявку на получение именной клубной
                    <br> карты в электронном виде через сайт ЖК, раздел
                    <br> Friends&amp;Family или заполнить анкету в Офисе продаж
                    <br> или Культурном центре RDI</div>
            </div>
            <div class="b-get-club-card__phase">
                <div class="b-get-club-card__phasenum b-get-club-card__phasenum--color_green">2</div>
                <div class="b-get-club-card__phasetitle">Заберите карту</div>
                <div class="b-get-club-card__phasetext">Как только ваша карта будет готова вы получите смс или
                    <br> электронное уведомление. По всем вопросам о сроках
                    <br> готовности, получении карты вы можете обращаться на
                    <br> электронную почту <a href="mailto:loyalty@rdigroup.ru">loyalty@rdigroup.ru</a></div>
            </div>
        </div>
    </div>
</section>

<section class="b-ffrules">
    <div class="l-center-column">
        <h2 class="b-section-title">ПРАВИЛА ВСТУПЛЕНИЯ</h2>
        <h4 class="b-section-subtitle">В КЛУБНУЮ ПРОГРАММУ «FRIENDS AND FAMILY»</h4>
        <div class="b-ffrules__content">
            <ul class="b-checklist">
                <li class="b-checklist__leaf">Стать участником клубной программы может каждый клиент, который заключил договор на приобретение недвижимости (земельного участка) от компании RDI</li>
                <li class="b-checklist__leaf">Все участники программы получают именную карту «Friends and Family», содержащую уникальный номер</li>
                <li class="b-checklist__leaf">На получение клубной карты имеют права житель ЖК от RDI, арендующие жилье (необходимо подтвердить, предоставив копию договора аренды)</li>
                <li class="b-checklist__leaf">При покупке товаров и получении услуг клубная карта предъявляется продавцу или менеджеру</li>
            </ul>
            <ul class="b-checklist">
                <li class="b-checklist__leaf">Владелец основной карты имеет возможность заказать и получить дополнительные карты для членов своей семьи (необходимо предоставить копию свидетельства о браке, свидетельство о рождении и иные документы, подтверждающие родство)</li>
                <li class="b-checklist__leaf">Клубная карта обязательна для предъявления, а также для участия в мероприятиях КЦ и RDI</li>
                <li class="b-checklist__leaf">Полный список партнеров дисконтной программы размещен <a href="#">здесь</a> </li>
                <li class="b-checklist__leaf">При покупке товаров и получении услуг клубная карта предъявляется продавцу или менеджеру</li>
            </ul>
        </div>
        <div class="b-ffrules__buttons">
            <a href="http://loyalty.rdi.ru/" target="_blank" rel="nofollow noopener" class="b-ffrules__btn btn btn-lg btn-primary">Получить карту</a> <a href="#" class="b-ffrules__btn btn btn-lg btn-ghost">Подробнее о программе</a>
        </div>
    </div>
</section>

{% endblock %}