{% set title = "Запись на выдачу ключей" %} {% extends "layout.html" %} {% block content %}
<div class="l-center-column">
    <div class="b-calendar">
        <div class="b-calendar__toprow">
            <div class="b-calendar__topleft">
                <h2 class="b-calendar__head">ЗАПИСЬ НА ВЫДАЧУ КЛЮЧЕЙ</h2>
                <h5 class="b-calendar__subhead"><a href="#">Дополнительная информация</a></h5>
            </div>
            <div class="b-calendar__topright">
                <select class="form-control" id="calendarResidentialFormInput">
                    <option value="0">ЖК НОВО-МОЛОКОВО, корпус 5</option>
                    <option value="1">ЗАГОРОДНЫЙ КВАРТАЛ, корпус 25</option>
                    <option value="2">ПАРК КАМЕНКА, корпус 533</option>
                    <option value="3">ЮЖНОЕ ВИДНОЕ, корпус 15</option>
                </select>
            </div>
        </div>
        <div class="b-calendar__main" id="calendarDatepicker"></div>
    </div>
</div>

<div id="getKeysChooseTimeModal" class="b-modal">
    <div class="b-modal__inner b-modal__inner--size_md">
        <form class="b-getkeystime" autocomplete="off">
            <h3 class="b-getkeystime__title">20 МАРТА</h3>
            <h4 class="b-getkeystime__subtitle">Выберите удобное для вас время</h4>
            <div class="b-getkeystime__timetable">
{% for h in range(10,20) %}
{% if (h === 12 or h === 18) %}
<div class="b-getkeystime__separator"></div>
{% endif %}
{% for m in ["00", "15", "30", "45"] %}
<label class="b-getkeystime__radiobtn{% if m==='45' %} b-getkeystime__radiobtn--last-in-row{% endif %}">{{h}}:{{m}}
    <input type="radio" name="get_keys_time" class="b-getkeystime__radioinp">
</label> 
{% endfor %}

{% endfor %}

            </div>
            <div class="b-getkeystime__btnwrap">
                <button type="submit" class="btn btn-lg btn-primary b-getkeystime__submitbtn" disabled>Подтвердить</button>
            </div>
            
        </form>
    </div>
</div>

{% endblock %} {% block page_bottom %}
<script>
// Days and months should be without leading zero!
var disableddates = ["2017-9-29", "2017-10-23", "2017-10-24"];
var activedates = ["2017-10-30"];
//var activeDate
function disableSpecificDates(date) {
    if (disableddates.length === 0) return [true, "b-calendar__td"];

    var m = date.getMonth();
    var d = date.getDate();
    var y = date.getFullYear();

    var currentdate = y + '-' + (m + 1) + '-' + d;

    for (var i = 0; i < disableddates.length; i++) {
        if (_.includes(disableddates, currentdate)) {
            return [false, "b-calendar__td", "Нет свободного промежутка времени"];
        } else if (_.includes(activedates, currentdate)) {
            return [true, "b-calendar__td b-calendar__td--active"];
        } else {
            return [true, "b-calendar__td"];
        }
    }
}

$("#calendarDatepicker").datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    inline: true,
    nextText: "",
    prevText: "",
    minDate: new Date(),
    dayNamesMin: ["ВОСКРЕСЕНЬЕ", "ПОНЕДЕЛЬНИК", "ВТОРНИК", "СРЕДА", "ЧЕТВЕРГ", "ПЯТНИЦА", "СУББОТА"],
    beforeShowDay: disableSpecificDates,
    onSelect: (dateStr) => {
        window.pagePreloader.show();
        $.ajax({
                url: '/ajax/get-keys.json',
                dataType: 'json',
                data: { date: dateStr },
            })
            .done((response) => {
                let $modal = $("#getKeysChooseTimeModal");
                //let $buttonsWrap = $modal.find('.b-getkeystime__timetable:first');
                $.fancybox.open($modal, {autoFocus:false});

            })
            .fail(() => {
                alert("Не удалось получить данные!!!\nПопробуйте позже или воспользуйтесь контактным номером телефона для записи на выдачу ключей.")
            })
            .always(() => {
                window.pagePreloader.hide();
            });

    }
});

$("#calendarResidentialFormInput").selectmenu({
    classes: {
        "ui-selectmenu-button": "form-control",
        "ui-selectmenu-icon": "ico ico-mini-arrow ico-rotate-270"
    },
    icons: { button: "" },
    position: {
        at: 'left bottom+2px'
    }
});


$(".b-getkeystime__radioinp").on('change', function(event) {
    event.preventDefault();
    $(".b-getkeystime__submitbtn:first").removeAttr('disabled');
}).checkboxradio({
    classes: {
        "ui-checkboxradio-icon": "ico ico-mini-arrow ico-rotate-180 b-getkeystime__btn-arrow",
        "ui-checkboxradio-checked": "b-getkeystime__radiobtn--checked"
    }
});

</script>
{% endblock %}