{% set title = "Запись на выдачу ключей" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">


<div class="b-keyslist-top">
    <div class="b-keyslist-top__left">
        <h1 class="b-keyslist-top__head">ЗАПИСЬ НА ВЫДАЧУ КЛЮЧЕЙ</h1>
        <h5 class="b-keyslist-top__subhead"><a href="#">Дополнительная информация</a></h5>
    </div>
    <div class="b-keyslist-top__right">
       <a href="get-keys-add-record.html" class="btn btn-lg btn-primary">Добавить новую запись</a>
    </div>
</div>

{% for i in range(0,4) %}
<div class="b-keyrec">
	<div class="b-keyrec__inner">
		<div class="b-keyrec__cell b-keyrec__cell--n1">
			<div class="b-keyrec__datetime">
				<span class="b-keyrec__date">20 МАРТА</span>&nbsp;<span class="b-keyrec__time">16:10</span>
			</div>
			<div class="b-keyrec__dt-hint">Через 6 дней</div>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n2">
			<div class="b-pinblock">
				<div class="b-pinblock__left">
					<i class="ico ico-map-pin b-pinblock__ico"></i>
				</div>
				<div class="b-pinblock__right">
					<div class="b-pinblock__title b-pinblock__title--color_n4">ЮЖНОЕ ВИДНОЕ</div>
					<div class="b-pinblock__hint">Москва, мкр. Южное Видное</div>
				</div>
			</div>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n3">
			<a href="#" class="b-keyrec__ctrlblock b-keyrec__ctrlblock--remove">
				<div class="b-keyrec__ctrl-icowrap"><i class="ico ico-close-thin"></i></div>
				<div class="b-keyrec__ctrl-name">Отменить</div>
			</a>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n4">
			<a href="#" class="b-keyrec__ctrlblock b-keyrec__ctrlblock--change-date">
				<div class="b-keyrec__ctrl-icowrap"><i class="ico ico-calendar2"></i></div>
				<div class="b-keyrec__ctrl-name">Изменить дату</div>
			</a>
		</div>
	</div>
</div>

<div class="b-keyrec">
	<div class="b-keyrec__inner">
		<div class="b-keyrec__cell b-keyrec__cell--n1">
			<div class="b-keyrec__datetime">
				<span class="b-keyrec__date">21 МАРТА</span>&nbsp;<span class="b-keyrec__time">18:40</span>
			</div>
			<div class="b-keyrec__dt-hint">Через 7 дней</div>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n2">
			<div class="b-pinblock">
				<div class="b-pinblock__left">
					<i class="ico ico-map-pin b-pinblock__ico"></i>
				</div>
				<div class="b-pinblock__right">
					<div class="b-pinblock__title b-pinblock__title--color_n2">НОВО-МОЛОКОВО</div>
					<div class="b-pinblock__hint">Москва, мкр. Южное Видное</div>
				</div>
			</div>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n3">
			<a href="#" class="b-keyrec__ctrlblock b-keyrec__ctrlblock--remove">
				<div class="b-keyrec__ctrl-icowrap"><i class="ico ico-close-thin"></i></div>
				<div class="b-keyrec__ctrl-name">Отменить</div>
			</a>
		</div>
		<div class="b-keyrec__cell b-keyrec__cell--n4">
			<a href="#" class="b-keyrec__ctrlblock b-keyrec__ctrlblock--change-date">
				<div class="b-keyrec__ctrl-icowrap"><i class="ico ico-calendar2"></i></div>
				<div class="b-keyrec__ctrl-name">Изменить дату</div>
			</a>
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block page_bottom %}{% endblock %}