{% set title = "Главная" %}
{% extends "layout.html" %}
{% import "./includes/blocks/b-timetbl.html" as timetbl %}
{% block content %}
 <div class="l-center-column">
    <section class="l-split" style="padding-bottom: 30px;">
        <div class="l-split__half">
            <div class="b-sldwiththubms" id="actionsThumbsSwitcher">
                <div class="b-sldwiththubms__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/tmp/495x428.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/tmp/495x428v2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/tmp/495x428v3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="b-sldwiththubms__thumbs">
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_1">
						<img src="/img/thumbs/1.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_2">
						<img src="/img/thumbs/2.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_3">
						<img src="/img/thumbs/3.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                </div>
            </div>
        </div>
        <div class="l-split__half" style="background: #fff;">
            <div class="b-lastnews">
                <div class="b-lastnews__list">
                    {% for i in [1,2,1,2] %}
                    <a href="article.html" class="b-lastnews__item">
                        <div class="b-lastnews__left">
                            <img src="/tmp/newsthumb{{i}}.jpg" alt="" class="b-lastnews__pic">
                        </div>
                        <div class="b-lastnews__right">
                            <div class="b-lastnews__title">RDI приступила к строительству 8&nbsp;корпуса ЖК GreenЛандия</div>
                            <div class="b-lastnews__info">
                                <time class="b-lastnews__date" datetime="2017-07-10 20:00">10 июня</time>
                                <div class="b-lastnews__category">Загородный квартал</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <a href="news.html" class="b-lastnews__all-news-link">ВСЕ НОВОСТИ</a>
            </div>
        </div>
    </section>

</div>
<div class="l-center-column l-center-column--pad_0">
    <section class="b-panel">
        <h2 class="text-center">Один портал - все сервисы и услуги</h2>
        <div class="l-cardstile">
            <div class="l-cardstile__col">
                <a href="management-companies.html" class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <div class="b-tilecard__ico"><i class="ico ico-rouble"></i></div>
                            </div>
                            <div class="b-tilecard__title">ЛИЧНЫЙ КАБИНЕТ ПО НАЧИСЛЕНИЯМ</div>
                        </div>
                        <div class="b-tilecard__desc">Управляйте счетами</div>
                    </div>
                </a>
                <a href="internet.html" class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_violet ico ico-wifi"></i>
                            </div>
                            <div class="b-tilecard__title">ИНТЕРНЕТ, ТЕЛЕВИДЕНИЕ И ТЕЛЕФОНИЯ</div>
                        </div>
                        <div class="b-tilecard__desc">Услуги, тарифы и акциии</div>
                    </div>
                </a>
            </div>
            <div class="l-cardstile__col">
                <a href="poll.html" class="b-tilecard b-tilecard--tall">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_green ico ico-question"></i>
                            </div>
                            <div class="b-tilecard__title">ОПРОСЫ</div>
                        </div>
                        <div class="b-tilecard__desc">Голосуйте за нововедения не отходя от компьютера</div>
                    </div>
                </a>
            </div>
            <div class="l-cardstile__col">
                <a href="messages.html" class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_yellow ico ico-message"></i>
                            </div>
                            <div class="b-tilecard__title">ОБРАТНАЯ СВЯЗЬ</div>
                        </div>
                        <div class="b-tilecard__desc">Предложения, вопросы, проблемы!</div>
                    </div>
                </a>
                <a href="webcams.html" class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_green2 ico ico-webcam"></i>
                            </div>
                            <div class="b-tilecard__title">ВЕБ-КАМЕРЫ</div>
                        </div>
                        <div class="b-tilecard__desc">Вся жизнь вашего ЖК на ладони</div>
                    </div>
                </a>
            </div>
        </div>
    </section>


</div>
<div class="l-center-column">
	<section>
        <div class="b-panel" style="padding-bottom: 11px;">
            <h2 class="text-center">КУЛЬТУРНЫЙ ЦЕНТР</h2>
            <div class="b-bnrslider swiper-container" id="homepageBnrSlider" style="margin: 30px 0 0;">
                <div class="swiper-wrapper">
                    {% for item in range(1,5) %}
                    <div class="swiper-slide">
                        <div class="b-bnr4" style="background-image: url(/img/b-bn/10.jpg);">
                            <div class="b-bnr4__content">
                                <div class="b-bnr4__date">
                                    <div class="b-bnr4__day">24</div>
                                    <div class="b-bnr4__month">марта</div>
                                </div>
                                <div class="b-bnr4__title">Фабрика карамелек. Мастер-класс для детей по изготовлению леденцов</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="b-bnrslider__pagination"></div>
            </div>

        </div>
    	{{ timetbl.block('homepageTimetable') }}
    </section>
</div> 

<div class="l-center-column">
    <div class="l-homepage-linkcards">

        <a class="b-linkcard" href="contacts.html">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico"><i class="ico ico-phone"></i></div>
                <div class="b-linkcard__title">ТЕЛЕФОННЫЙ<br>СПРАВОЧНИК</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__text">Номера телефонов служб ЖК, экстренных служб и управляющей компании</div>
        </a>
        
        <a class="b-linkcard b-linkcard--color_violet" href="management-companies.html">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico b-linkcard__ico--color_violet"><i class="ico ico-house"></i></div>
                <div class="b-linkcard__title">УПРАВЛЯЮЩАЯ<br>КОМПАНИЯ</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__text">Данные об управляющих компаниях</div>
        </a>
        
        <a class="b-linkcard b-linkcard--color_green b-linkcard--type_timetbl" href="bus-schedule.html">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico b-linkcard__ico--color_green"><i class="ico ico-bus"></i></div>
                <div class="b-linkcard__title">РАСПИСАНИЕ
                    <br>АВТОБУСОВ</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__timetbl">
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «ЗАГОРОДНЫЙ КВАРТАЛ»</div>
                </div>
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «НОВО-МОЛОКОВО»</div>
                </div>
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «ЮЖНАЯ ДОЛИНА»</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="l-center-column l-center-column--pad_0">
    <ul class="b-scores">
        <li class="b-scores__leaf">
            <div class="b-scores__digits">5000+</div>
            <div class="b-scores__text">Зарегистрированных<br>пользователей</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">8000+</div>
            <div class="b-scores__text">Рассмотрено<br>обращений</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">70+</div>
            <div class="b-scores__text">Проведенных<br>голосований</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">800+</div>
            <div class="b-scores__text">Опубликованных<br>новостей</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">500+</div>
            <div class="b-scores__text">Организованно<br>мероприятий ЖК</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">14+</div>
            <div class="b-scores__text">Веб-камер на<br>территории ЖК</div>
        </li>
    </ul>
</div>
{% endblock %}

{% block page_bottom %}
<script>
new BasicThumbsSwitch("#actionsThumbsSwitcher");
new Timetable("#homepageTimetable");

(function() {
    let bnrsliderIns = new Swiper("#homepageBnrSlider", {
        pagination: '.b-bnrslider__pagination',
        paginationClickable: true,
        bulletClass: 'b-bnrslider__bullet',
        bulletActiveClass: 'b-bnrslider__bullet--active'
    });
})();
</script>
{% endblock %}