{% set title = "Главная" %}
{% set notLogged = true %}
{% set cultureModal = true %}
{% extends "layout.html" %}
{% import "./includes/blocks/b-timetbl.html" as timetbl %}
{% block content %}
 <div class="l-center-column">
    <section class="l-split" style="padding-bottom: 30px;">
        <div class="l-split__half">
            <div class="b-sldwiththubms" id="actionsThumbsSwitcher">
                <div class="b-sldwiththubms__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/tmp/495x428.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/tmp/495x428v2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/tmp/495x428v3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="b-sldwiththubms__thumbs">
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_1">
						<img src="/img/thumbs/1.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_2">
						<img src="/img/thumbs/2.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                    <a href="#" class="b-sldwiththubms__thumb b-sldwiththubms__thumb--n_3">
						<img src="/img/thumbs/3.jpg" alt="" class="b-sldwiththubms__thumbimg">
					</a>
                </div>
            </div>
        </div>
        <div class="l-split__half" style="background: #fff;">
            <div class="b-lastnews">
                <div class="b-lastnews__list">
                    <a href="/news/3989/" class="b-lastnews__item">
                        <div class="b-lastnews__left">
                            <img src="/tmp/newsthumb1.jpg" alt="" class="b-lastnews__pic">
                        </div>
                        <div class="b-lastnews__right">
                            <div class="b-lastnews__title">ПРОСЛУШИВАНИЕ В ДЕТСКУЮ МУЗЫКАЛЬНУЮ СТУДИЮ в Ново-Молоково</div>
                            <div class="b-lastnews__info">
                                <time class="b-lastnews__date" datetime="2017-10-13 16:42">13 Октября</time>
                                <div class="b-lastnews__category">НОВО-МОЛОКОВО</div>
                            </div>
                        </div>
                    </a>
                    <a href="/news/3987/" class="b-lastnews__item">
                        <div class="b-lastnews__left">
                            <img src="/tmp/newsthumb2.jpg" alt="" class="b-lastnews__pic">
                        </div>
                        <div class="b-lastnews__right">
                            <div class="b-lastnews__title">Кулинарный мастер-класс в Ново-Молоково</div>
                            <div class="b-lastnews__info">
                                <time class="b-lastnews__date" datetime="2017-10-13 09:35">13 Октября</time>
                                <div class="b-lastnews__category">НОВО-МОЛОКОВО</div>
                            </div>
                        </div>
                    </a>
                    <a href="/news/3985/" class="b-lastnews__item">
                        <div class="b-lastnews__left">
                            <img src="/tmp/newsthumb1.jpg" alt="" class="b-lastnews__pic">
                        </div>
                        <div class="b-lastnews__right">
                            <div class="b-lastnews__title">Женский клуб в Южном Видном</div>
                            <div class="b-lastnews__info">
                                <time class="b-lastnews__date" datetime="2017-10-12 13:59">12 Октября</time>
                                <div class="b-lastnews__category">ЮЖНОЕ ВИДНОЕ</div>
                            </div>
                        </div>
                    </a>
                    <a href="/news/3982/" class="b-lastnews__item">
                        <div class="b-lastnews__left">
                            <img src="/tmp/newsthumb2.jpg" alt="" class="b-lastnews__pic">
                        </div>
                        <div class="b-lastnews__right">
                            <div class="b-lastnews__title">Пешеходные дорожки в Ново-Молоково</div>
                            <div class="b-lastnews__info">
                                <time class="b-lastnews__date" datetime="2017-10-11 17:25">11 Октября</time>
                                <div class="b-lastnews__category">НОВО-МОЛОКОВО</div>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="news.html" class="b-lastnews__all-news-link">ВСЕ НОВОСТИ</a>
            </div>
        </div>
    </section>

</div>
<div class="l-center-column l-center-column--pad_0">
    <section class="b-panel">
        <h2 class="text-center"><a id="showLoginModalLink" data-fancybox data-src="#loginModal" href="javascript:void(0);">ВОЙДИТЕ</a> ИЛИ <a id="showRegisterModalLink" href="#">ЗАРЕГИСТИРУЙТЕСЬ</a>, ЧТОБЫ ПОЛУЧИТЬ<br> ДОСТУП КО ВСЕМ ВОЗМОЖНОСТЯМ</h2>
        <div class="l-cardstile">
            <div class="l-cardstile__col">
                <div class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <div class="b-tilecard__ico"><i class="ico ico-rouble"></i></div>
                            </div>
                            <div class="b-tilecard__title">ЛИЧНЫЙ КАБИНЕТ ПО НАЧИСЛЕНИЯМ</div>
                        </div>
                        <div class="b-tilecard__desc">Управляйте счетами</div>
                    </div>
                </div>
                <div class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_violet ico ico-wifi"></i>
                            </div>
                            <div class="b-tilecard__title">ИНТЕРНЕТ, ТЕЛЕВИДЕНИЕ И ТЕЛЕФОНИЯ</div>
                        </div>
                        <div class="b-tilecard__desc">Услуги, тарифы и акциии</div>
                    </div>
                </div>
            </div>
            <div class="l-cardstile__col">
                <div class="b-tilecard b-tilecard--tall">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_green ico ico-question"></i>
                            </div>
                            <div class="b-tilecard__title">ОПРОСЫ</div>
                        </div>
                        <div class="b-tilecard__desc">Голосуйте за нововедения не отходя от компьютера</div>
                    </div>
                </div>
            </div>
            <div class="l-cardstile__col">
                <div class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_yellow ico ico-message"></i>
                            </div>
                            <div class="b-tilecard__title">ОБРАТНАЯ СВЯЗЬ</div>
                        </div>
                        <div class="b-tilecard__desc">Предложения, вопросы, проблемы!</div>
                    </div>
                </div>
                <div class="b-tilecard">
                    <div class="b-tilecard__inner">
                        <div class="b-tilecard__top-row">
                            <div class="b-tilecard__icowrap">
                                <i class="b-tilecard__ico b-tilecard__ico--color_green2 ico ico-webcam"></i>
                            </div>
                            <div class="b-tilecard__title">ВЕБ-КАМЕРЫ</div>
                        </div>
                        <div class="b-tilecard__desc">Вся жизнь вашего ЖК на ладони</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<div class="l-center-column">
	<section>
        <div class="b-panel" style="padding-bottom: 11px;"><h2 class="text-center">КУЛЬТУРНЫЙ ЦЕНТР</h2></div>
    	{{ timetbl.block('homepageTimetable') }}
    </section>
</div> 

<div class="l-center-column">
    <div class="l-homepage-linkcards">

        <a class="b-linkcard" data-fancybox data-src="#loginModal" href="javascript:void(0);">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico"><i class="ico ico-phone"></i></div>
                <div class="b-linkcard__title">ТЕЛЕФОННЫЙ<br>СПРАВОЧНИК</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__text">Номера телефонов служб ЖК, экстренных служб и управляющей компании</div>
        </a>
        
        <a class="b-linkcard b-linkcard--color_violet" data-fancybox data-src="#loginModal" href="javascript:void(0);">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico b-linkcard__ico--color_violet"><i class="ico ico-house"></i></div>
                <div class="b-linkcard__title">УПРАВЛЯЮЩАЯ<br>КОМПАНИЯ</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__text">Данные об управляющих компаниях</div>
        </a>
        
        <a class="b-linkcard b-linkcard--color_green b-linkcard--type_timetbl" data-fancybox data-src="#loginModal" href="javascript:void(0);">
            <div class="b-linkcard__toprow">
                <div class="b-linkcard__ico b-linkcard__ico--color_green"><i class="ico ico-bus"></i></div>
                <div class="b-linkcard__title">РАСПИСАНИЕ
                    <br>АВТОБУСОВ</div>
                <div class="b-linkcard__arrow"><i class="ico ico-arrow-round"></i></div>
            </div>
            <div class="b-linkcard__timetbl">
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «ЗАГОРОДНЫЙ КВАРТАЛ»</div>
                </div>
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «НОВО-МОЛОКОВО»</div>
                </div>
                <div class="b-linkcard__timeitem">
                    <div class="b-linkcard__time">10:30</div>
                    <div class="b-linkcard__timettl">ОТ ЖК «ЮЖНАЯ ДОЛИНА»</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="l-center-column l-center-column--pad_0">
    <ul class="b-scores">
        <li class="b-scores__leaf">
            <div class="b-scores__digits">5000+</div>
            <div class="b-scores__text">Зарегистрированных<br>пользователей</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">8000+</div>
            <div class="b-scores__text">Рассмотрено<br>обращений</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">70+</div>
            <div class="b-scores__text">Проведенных<br>голосований</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">800+</div>
            <div class="b-scores__text">Опубликованных<br>новостей</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">500+</div>
            <div class="b-scores__text">Организованно<br>мероприятий ЖК</div>
        </li>
        <li class="b-scores__leaf">
            <div class="b-scores__digits">14+</div>
            <div class="b-scores__text">Веб-камер на<br>территории ЖК</div>
        </li>
    </ul>
</div>
{% endblock %}



{% block page_bottom %}
<script>
    $("#showRegisterModalLink").on('click', function(event) {
        event.preventDefault();
        $('#loginFormBlock').hide();
        $('#registrationFormBlock').show();
        $.fancybox.open($('#loginModal'));
        return false;
    });
    

	new BasicThumbsSwitch("#actionsThumbsSwitcher");
    new Timetable("#homepageTimetable");
</script>
{% endblock %}