{% set title = "Интернет, Телефония, ТВ" %}
{% extends "layout.html" %}
{% set notLogged = true %}
{% block content %}
<div class="l-center-column">
    {% include "./includes/blocks/b-bnrslider.html" %}
    <h1 class="b-page-header">ТВ, ИНТЕРНЕТ И ТЕЛЕФОНИЯ</h1>
    {% if notLogged %}
    <div class="b-page-header-controls">
        <button data-fancybox data-src="#loginModal" class="b-page-header-controls__btn b-page-header-controls__btn--large btn btn-lg btn-primary">Войти в личный кабинет</button>
    </div>
    {% endif %}
    

    <section class="b-panel" style="margin-bottom: 20px;">
        <h2 class="b-panel__header" style="font-size: 2.6rem;">ТАРИФЫ ИНТЕРНЕТ</h2>
        <div class="b-cms-editor-output">
            <p>Для подключения услуг связи необходимо заключить договор на организацию точки доступа в квартире
                <br> к сети Оператора.</p>
            <p>Организация точки доступа к сети Оператора включает в себя:</p>
            <ul>
                <li>прокладку оптического кабеля по закладным в помещение Абонента;</li>
                <li>оконцевание оптического кабеля в помещении Абонента;</li>
                <li>настройку оптического модема;</li>
                <li>настройку 1 (одного) рабочего места;</li>
            </ul>
            <p>В обязанности оператора не входят работы по крепежу к стенам оптических модемов и работы по
                <br> прокладке кабелей внутри квартиры от оптического модема до телефонных аппаратов и компьютеров
                <br> абонента.</p>
        </div>
        <table class="table table-striped-even">
            <caption>ОРГАНИЗАЦИЯ ТОЧКИ ДОСТУПА К GPON СЕТИ ОПЕРАТОРА</caption>
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                    <th>Дополнительные условия</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Установочная плата за организацию точки доступа без Wi-Fi</td>
                    <td>4000 руб.</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Установочная плата за организацию точки доступа без Wi-Fi</td>
                    <td>4000 руб.</td>
                    <td>Аренда абонентского оборудования 100 руб./мес.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>БЕСПЛАТНО</strong> собственникам квартир в домах 10, 11, 12, 13, 14 по улице Березовая, ул. Ермолинская д.1, ул. имени Героя Советского Союза В.Н. Фокина д.2</td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-striped-odd">
            <caption>СТОИМОСТЬ УСЛУГИ ИНТЕРНЕТ</caption>
            <tbody>
                <tr>
                    <td style="width: 60.5%;">Установочная плата за подключение к сети Интернет*</td>
                    <td>300 руб.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><strong>БЕСПЛАТНО</strong> собственникам квартир в домах 10, 11, 12, 13, 14 по улице Березовая, ул. Ермолинская д.1, ул. имени Героя Советского Союза В.Н. Фокина д.2
                        <br>
                        <br>*Цена указана без учета стоимости организации точки доступа к GPON сети Оператора.</td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-striped-even">
            <caption>ТАРИФЫ С 20.06.2017г</caption>
            <thead>
                <tr>
                    <th>Название тарифа</th>
                    <th>Скорость доступа*</th>
                    <th>Абонентская плата</th>
                    <th>Объем&nbsp;трафика&nbsp;(Гб)</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>ЮВ-01</td>
                    <td>До 2 Мбит/с</td>
                    <td>250 руб.</td>
                    <td>Неограничен</td>
                </tr>
                <tr>
                    <td>ЮВ-01</td>
                    <td>До 60 Мбит/с</td>
                    <td>575 руб.</td>
                    <td>Неограничен</td>
                </tr>
                <tr>
                    <td>ЮВ-01</td>
                    <td>До 80 Мбит/с</td>
                    <td>775 руб.</td>
                    <td>Неограничен</td>
                </tr>
                <tr>
                    <td>ЮВ-01</td>
                    <td>До 100 Мбит/с</td>
                    <td>965 руб.</td>
                    <td>Неограничен</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">*скорость доступа к сети Интернет на данных тарифных планах является максимально возможной, но не гарантированной. Это зависит от технических характеристик подключения, параметров сетей других операторов, текущей загрузки каналов связи и пр.</td>
                </tr>
            </tfoot>
        </table>
        
    </section>
    <section class="b-panel" style="margin-bottom: 20px;">
        <h2 class="b-panel__header" style="font-size: 2.6rem;">ЦИФРОВОЕ ТЕЛЕВИДЕНИЕ</h2>
        <div class="b-cms-editor-output">
            <p>Стоимость и технические условия подключения на сайте <a href="http://www.rditelecom.ru" target="_blank" rel="nofollow noopener">www.rditelecom.ru</a></p>
            <table style="width: 100%;">
                <tr>
                    <td><img src="/img/upload/ntv.png" alt="" style="max-width: 100%;"></td>
                    <td style="text-align: right;"><img src="/img/upload/smotreshka.png" alt="" style="max-width: 100%;"></td>
                </tr>
            </table>
            <p>1. Для собственников квартир домов № 10, 12, 14 по улице Березовая подключение услуг городского
                <br> телефона и домашнего интернета — БЕСПЛАТНО! </p>
            <p>2. Для собственников квартир домов по адресу:</p>
            <ul>
                <li>ул. имени Героя Советского Союза В.Н. Фокина, д.2</li>
                <li>ул. Ермолинская, д.1</li>
                <li>ул. Берёзовая, д.11</li>
                <li>ул. Берёзовая, д.13</li>
            </ul>
            <p>
                подключение услуг городского телефона и домашнего интернета — БЕСПЛАТНО! Так же БЕСПЛАТНО выдается оптический модем.
            </p>
            <p>Так же БЕСПЛАТНО выдается оптический модем.</p>
        </div>
    </section>
    <section class="b-panel">
        <h2 class="b-panel__header text-center" style="font-size: 2.6rem;">КОНТАКТЫ</h2>
        <div class="b-cms-editor-output">
            <br>
            <h3 style="text-align: center;font-size: 18px;font-weight: 600;">ОФИС ОБСЛУЖИВАНИЯ АБОНЕНТОВ ЖК «ЮЖНОЕ ВИДНОЕ»</h3>
            <br>
            <br>
            <p style="text-align: center;">142700, Московская область, Ленинский район, г. Видное, </p>
            <p style="text-align: center;">Ул. имени Героя Советского Союза В.Н. Фокина, д.8</p>
			<br>
			<br>
			<br>

        </div>

<div class="b-contactslist">
    <h3 class="b-contactslist__head">РАЗМЕЩЕНИЕ ЗАЯВКИ НА ПОДКЛЮЧЕНИЕ</h3>
    <ul class="b-contactslist__list">
        <li class="b-contactslist__leaf">
            <div class="b-contactslist__caption">Онлайн на сайте</div>
            <div class="b-contactslist__value"><a href="http://www.rditelecom.ru">www.rditelecom.ru</a></div>
        </li>
        <li class="b-contactslist__leaf">
            <div class="b-contactslist__caption">По телефону через менеджера</div>
            <div class="b-contactslist__value"><span>+7(498)767-88-88</span></div>
        </li>
        <li class="b-contactslist__leaf">
            <div class="b-contactslist__caption">По электронной почте</div>
            <div class="b-contactslist__value"><a href="mailto:z@rditelecom.ru">z@rditelecom.ru</a></div>
        </li>
    </ul>
</div>
<br>
<br>
<br>
<div class="b-contactslist">
    <h3 class="b-contactslist__head">ОБЩИЕ ВОПРОСЫ</h3>
    <ul class="b-contactslist__list">
        <li class="b-contactslist__leaf">
            <div class="b-contactslist__caption">По телефону через менеджера</div>
            <div class="b-contactslist__value"><span>+7(498)767-88-88</span></div>
        </li>
        <li class="b-contactslist__leaf">
            <div class="b-contactslist__caption">По электронной почте</div>
            <div class="b-contactslist__value"><a href="mailto:z@rditelecom.ru">z@rditelecom.ru</a></div>
        </li>
    </ul>
</div>

    </section>
</div>
{% endblock %} {% block page_bottom %}
<script>
(function() {
    let bnrsliderIns = new Swiper("#bnrSlider", {
        pagination: '.b-bnrslider__pagination',
        paginationClickable: true,
        bulletClass: 'b-bnrslider__bullet',
        bulletActiveClass: 'b-bnrslider__bullet--active'
    });
})();
</script>
{% endblock %}