{% import "./includes/blocks/b-custom-checkbox.html" as customCheckbox %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>{{ title }} | RDI</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgm86O5ZpcIrBQuPZe-QcV5EVJPDuHejQ&language=ru"></script>
</head>

<body>
    {% include "includes/blocks/b-preloader.html" %}
    
    <div class="l-main-field">
        <header class="b-header">
            <a href="#" class="b-header__link">
                <img class="b-header__pic" src="/img/logos/kamenka.png" alt="">
            </a>
            <a href="#" class="b-header__link b-header__link--active">
                <img class="b-header__pic" src="/img/logos/novo.svg" alt="">
            </a>
            <a href="#" class="b-header__link">
                <img class="b-header__pic" src="/img/logos/zk.svg" alt="">
            </a>
            <a href="#" class="b-header__link b-header__link--active">
                <img class="b-header__pic" src="/img/logos/uv.svg" alt="">
            </a>
            <a href="#" class="b-header__link">
                <img class="b-header__pic" src="/img/logos/ud.png" alt="">
            </a>
            <a href="#" class="b-header__link">
                <img class="b-header__pic" src="/img/logos/zd.png" alt="">
            </a>
        </header>
        
        <main>{% block content %}{% endblock %}</main>
        
        <footer class="b-footer">
            <div class="b-footer__top-row">
                <a href="http://rdi.ru" target="_blank"><img src="/img/rdi_logo.svg" alt="RDI" class="b-footer__logo"></a>

                <div class="b-footer__menu">
                    <a href="about.html" class="b-footer__menu-link">О проекте</a>
                    <a href="contacts.html" class="b-footer__menu-link">Контактная информация</a>
                    <a href="adv-placement.html" class="b-footer__menu-link">Размещение рекламы</a>
                </div>
            </div>
            <div class="b-footer__bottom-row">
                <div class="b-socicons">
                    <a href="https://vk.com/rdi.developer" target="_blank" class="b-socicons__ico b-socicons__ico--soc_vk"><i class="ico ico-soc-vk"></i></a>
                    <a href="http://www.facebook.com/rdi.developer" target="_blank" class="b-socicons__ico b-socicons__ico--soc_fb"><i class="ico ico-soc-fb"></i></a>
                </div>

                <a href="http://blue-ant.ru" target="_blank" class="b-footer__developer" title="Веб-студия «Синий Муравей»">
                    <div class="b-footer__developer-logo-wrap">
                        <i class="b-footer__developer-logo ico ico-ant"></i>
                    </div>
                    
                    <div class="b-footer__developer-desc">Разработка и<br> поддержка сайта</div>
                </a>
            </div>
        </footer>
    </div>
    <aside class="l-aside">
        <div class="l-aside__topbar-wrap">
            <div class="l-aside__topbar">
                <div class="l-aside__left"><a href="/"><img class="b-logo" src="/img/logo.svg" alt="RDI"></a></div>
                <div class="l-aside__right">
                    <div class="b-notify-counter">
                        <i class="ico ico-notify b-notify-counter__ico"></i>
                        <div class="b-notify-counter__number">10</div>
                        {% include "includes/blocks/b-notifications.html" %}
                    </div>
                </div>
            </div>
        </div> 
        <div class="l-aside__scroller">
            <div class="l-aside__top">
                <nav class="b-nav">
                    <a href="management-companies.html" class="b-nav__leaf b-nav__leaf--disabled">Управляющая компания</a>
                    <a href="messages.html" class="b-nav__leaf b-nav__leaf--disabled">Обратная связь</a>
                    <a href="webcams.html" class="b-nav__leaf b-nav__leaf--disabled">Веб-камеры</a>
                    <a href="get-keys.html" class="b-nav__leaf b-nav__leaf--disabled">Запись на ключи</a>
                    <a href="poll.html" class="b-nav__leaf b-nav__leaf--divider b-nav__leaf--disabled">Опросы</a>
                    <a href="internet.html" class="b-nav__leaf">Интернет, Телефония, ТВ</a>
                    <a href="parking.html" class="b-nav__leaf">Паркинг</a>
                    <a href="cultcenter.html" class="b-nav__leaf">Культурный центр</a>
                    <a href="friends-and-family.html" class="b-nav__leaf b-nav__leaf--divider">Friends &amp; Family</a>
                    <a href="news.html" class="b-nav__leaf">Новости</a>
                    <a href="contacts.html" class="b-nav__leaf">Телефонный справочник</a>
                    <a href="bus-schedule.html" class="b-nav__leaf">Расписание автобусов</a>
                </nav>
                <button  data-fancybox data-src="#callmeModal" class="btn btn-primary btn-block text-left"><i class="ico ico-phone"></i>&nbsp;&nbsp;&nbsp;Заказать звонок</button>
            </div>
            <div class="l-aside__bottom">
                {% if notLogged %}
                    <button class="btn btn-warning btn-block text-left" data-fancybox data-src="#loginModal"><i class="ico ico-profile"></i>&nbsp;&nbsp;&nbsp;Вход для жителей</button>
                {% else %}
                <div class="b-profile-link">
                    <a href="profile.html"><img class="b-profile-link__avatar" src="/img/profile-avatar.png" alt="Дмитрий Иванов"></a>
                    <a href="profile.html"><div class="b-profile-link__name">Дмитрий Иванов</div></a>
                    <a href="#" class="b-profile-link__exitlink"><i class="ico ico-exit" title="Выйти"></i></a>
                </div>
                {% endif %}
               
            </div>
        </div>
    </aside>
    
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>


{% include "includes/chunks/callme-modal.html" %}
{% include "includes/chunks/privacy_rules_modal.html" %}
{% if notLogged %}
{% include "includes/chunks/login-register-modal.html" %}
{% endif %}
{% if cultureModal %}
{% include "includes/chunks/culture-modal.html" %}
{% endif %}
{% block page_bottom %}{% endblock %}


</body>

</html>
