{% set title = "Управляющая компания" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
    <h1 class="b-page-header">ДАННЫЕ ОБ УПРАВЛЯЮЩИХ КОМПАНИЯХ</h1>
    <div class="b-big-accordion" style="padding-bottom: 44px;">
        <h3 class="b-big-accordion__header b-big-accordion__header--color_n2">НОВО-МОЛОКОВО</h3>
        <div class="b-big-accordion__content b-cms-editor-output">
            <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
        </div>
        <h3 class="b-big-accordion__header b-big-accordion__header--color_n4">ЮЖНОЕ ВИДНОЕ</h3>
        <div class="b-big-accordion__content b-cms-editor-output">
            <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
        </div>
    </div>
    <h2 style="padding-bottom: 40px;">ВЫБЕРИТЕ АДРЕС ДЛЯ ВХОДА <br>В ЛИЧНЫЙ КАБИНЕТ ПО НАЧИСЛЕНИЯМ</h2>
    <div class="b-mancompgroup">
    	<h6 class="b-mancompgroup__title b-mancompgroup__title--color_n2">НОВО-МОЛОКОВО</h6>
    	<div class="b-mancompgroup__grid">
    		<div class="b-mancompgroup__item">
    			<div class="b-big-accordion b-big-accordion--pseudo">
        			<a href="#" class="b-big-accordion__header b-big-accordion__header--color_n2 b-big-accordion__header--bordered b-big-accordion__header--size_2"><span class="ui-accordion-header-icon ui-icon b-big-accordion__icon ico ico-arrow-round"></span>ООО «ТЕМИР ТРАНС ГРУПП»</a>
        			<div class="b-big-accordion__content">
			           {% include "./includes/blocks/b-dl--mancomp-addresses.html" %}
			        </div>
        		</div>
    		</div>
    		<div class="b-mancompgroup__item">
    			<div class="b-big-accordion b-big-accordion--pseudo">
        			<a href="#" class="b-big-accordion__header b-big-accordion__header--color_n2 b-big-accordion__header--bordered b-big-accordion__header--size_2"><span class="ui-accordion-header-icon ui-icon b-big-accordion__icon ico ico-arrow-round"></span>ООО «ЦЕНТУРИОН»</a>
        			<div class="b-big-accordion__content">
			           {% include "./includes/blocks/b-dl--mancomp-addresses.html" %}
			        </div>
        		</div>
    		</div>
    	</div>
    	<h6 class="b-mancompgroup__title b-mancompgroup__title--color_n4"><span class="ui-accordion-header-icon ui-icon b-big-accordion__icon ico ico-arrow-round"></span>ЮЖНОЕ ВИДНОЕ</h6>
    	<div class="b-mancompgroup__grid">
    		<div class="b-mancompgroup__item">
    			<div class="b-big-accordion b-big-accordion--pseudo">
        			<a href="#" class="b-big-accordion__header b-big-accordion__header--color_n4 b-big-accordion__header--bordered b-big-accordion__header--size_2"><span class="ui-accordion-header-icon ui-icon b-big-accordion__icon ico ico-arrow-round"></span>ООО «ТЕМИР ТРАНС ГРУПП»</a>
        			<div class="b-big-accordion__content">
			          {% include "./includes/blocks/b-dl--mancomp-addresses.html" %}
			        </div>
        		</div>
    		</div>
    		<div class="b-mancompgroup__item">
    			<div class="b-big-accordion b-big-accordion--pseudo">
        			<a href="#" class="b-big-accordion__header b-big-accordion__header--color_n4 b-big-accordion__header--bordered b-big-accordion__header--size_2"><i class="b-big-accordion__icon ico ico-arrow-round"></i>ООО «ЦЕНТУРИОН»</a>
        			<div class="b-big-accordion__content">
			           {% include "./includes/blocks/b-dl--mancomp-addresses.html" %}
			        </div>
        		</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}

{% block page_bottom %}
<script>
$(function() {
    window.requestAnimationFrame(function() {
        $(".b-big-accordion").not(".b-big-accordion--pseudo").each(function(index, el) {
            new Accordion(el);
        });
    })
});
</script>
{% endblock %}