{% set title = "Обратная связь" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
    <h1 class="b-page-header">ОБРАТНАЯ СВЯЗЬ</h1>
    <div class="b-page-header-controls">
    	<a href="feedback.html" class="b-page-header-controls__btn b-page-header-controls__btn--large btn btn-lg btn-primary">Написать сообщение</a>
    </div>
    
    <div class="l-notices-list">
        <a href="support.html" class="b-notice">
            <div class="b-notice__left-part">
                <h4 class="b-notice__title">Не закрытая дверь в подъезд</h4>
                <div class="b-notice__text">Здравствуйте, Дмитрий. Спасибо за обращение в нашу службу поддержки. Как соседей заставить закрывать за собой металлические входные двери ?</div>
            </div>
            <div class="b-notice__right-part">
            	<div class="b-notice__info">
            		<time datetime="2017-09-20 20:00" class="b-notice__date">20.09.2017</time>
                	<div class="b-notice__status b-notice__status--attention">В РАССМОТРЕНИИ</div>
            	</div>
                <div class="b-notice__readmore"><i class="ico ico-arrow-round"></i></div>
            </div>
        </a>
        {% for i in range(1,5) %}
    	<a href="support.html" class="b-notice">
    	    <div class="b-notice__left-part">
    	        <h4 class="b-notice__title">Нужна консультация</h4>
    	        <div class="b-notice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore numquam eius, ipsa reiciendis suscipit eum dolore fugiat dolorem, aliquam veniam, soluta iste commodi, magni sunt placeat perspiciatis voluptates ducimus! Similique!</div>
    	    </div>
    	    <div class="b-notice__right-part">
    	    	<div class="b-notice__info">
    	    		<time datetime="2017-09-20 20:00" class="b-notice__date">20.09.2017</time>
    	        	<div class="b-notice__status b-notice__status--success">РЕШЕНО</div>
    	    	</div>
    	        <div class="b-notice__readmore"><i class="ico ico-arrow-round"></i></div>
    	    </div>
    	</a>
        {% endfor %}
    </div>
</div>
{% endblock %}