{% set title = "modal demo" %}
{% extends "layout.html" %}
{% set notLogged = true %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">Демо модального окна</h1>
</div>
<div class="l-center-column">
	<button class="btn btn-lg btn-primary" data-fancybox="loginForm" data-src="#privacyTextModal">открыть модальное окно</button>
</div>
{% endblock %}

{% block page_bottom %}{% endblock %}