{% set title = "Новости" %}
{% extends "layout.html" %}
{% block content %}


<div class="l-center-column">

	{% include "./includes/blocks/b-bnrslider.html" %}

    <h1 class="b-page-header">Новости</h1>
    <div class="l-newslist">

		<a href="article.html" class="b-teaser">
	        <img src="/tmp/310x174.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, ad." class="b-teaser__thumb">
	        <h5 class="b-teaser__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, ad.</h5>
	        <p class="b-teaser__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora maxime, velit iusto voluptate ducimus! Atque, nam, mollitia. Ad unde asperiores, a iure porro veritatis, repellat corporis nisi, cupiditate quaerat vitae! </p>
	        <div class="b-teaser__details">
	            <time datetime="2017-07-10 20:00" class="b-teaser__date">10 Июня</time>
	            <div class="b-teaser__category b-teaser__category--color_n2">НОВО-МОЛОКОВО</div>
	        </div>
	    </a>

	    {% for item in range(1,6) %}
	        <a href="article.html" class="b-teaser">
	            <img src="/tmp/310x174.png" alt="RDI приступила к строительству 8 корпуса ЖК GreenЛандия" class="b-teaser__thumb">
	            <h5 class="b-teaser__title">RDI приступила к строительству <br>8 корпуса ЖК GreenЛандия</h5>
	            <p class="b-teaser__text">Спортивная программа Фестиваля состоит из русских национальных видов спорта и состоит из русских видов спорта </p>
	            <div class="b-teaser__details">
	                <time datetime="2017-07-10 20:00" class="b-teaser__date">10 Июня</time>
	                <div class="b-teaser__category b-teaser__category--color_n1">ПАРК КАМЕНКА</div>
	            </div>
	        </a>
	    {% endfor %}
    </div>
</div>
{% endblock %}

{% block page_bottom %}

<script>
(function() {
    let bnrsliderIns = new Swiper("#bnrSlider", {
    	pagination: '.b-bnrslider__pagination',
        paginationClickable: true,
        bulletClass: 'b-bnrslider__bullet',
        bulletActiveClass: 'b-bnrslider__bullet--active'
    });
})();
</script>

{% endblock %}