{% set title = "Паркинг" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">АРЕНДА В ПОДЗЕМНОМ ПАРКИНГЕ</h1>

<section style="padding-bottom: 10px;">
    <div class="b-planlist-head">
        <div class="b-planlist-head__leaf b-planlist-head__leaf--n1">ТАРИФ</div>
        <div class="b-planlist-head__leaf b-planlist-head__leaf--n2">СУТКИ</div>
        <div class="b-planlist-head__leaf b-planlist-head__leaf--n3">МЕСЯЦ</div>
        <div class="b-planlist-head__leaf b-planlist-head__leaf--n4">ГОД</div>
    </div>
    <div class="b-plancard b-plancard--green">
        <div class="b-plancard__col b-plancard__col--n1">
            <div class="b-plancard__title">Житель</div>
            <div class="b-plancard__desc">При предъявлении паспорта с пропиской
                <br> или копии свидетельства о собственности</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n2">
            <div class="b-plancard__bigtext">250₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n3">
            <div class="b-plancard__bigtext">3000₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n4">
            <div class="b-plancard__bigtext">10% ЭКОНОМИИ</div>
            <div class="b-plancard__hinttext">при оплате сразу за год</div>
        </div>
    </div>
    <div class="b-plancard b-plancard--violet">
        <div class="b-plancard__col b-plancard__col--n1">
            <div class="b-plancard__title">Социальный</div>
            <div class="b-plancard__desc">Для пенсионеров, многодетных семей, инвалидов, участников ВОВ при предъявлении документа</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n2">
            <div class="b-plancard__bigtext">250₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n3">
            <div class="b-plancard__bigtext">3000₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n4">
            <div class="b-plancard__bigtext">10% ЭКОНОМИИ</div>
            <div class="b-plancard__hinttext">при оплате сразу за год</div>
        </div>
    </div>
    <div class="b-plancard b-plancard--yellow b-plancard--yugepad">
        <div class="b-plancard__col b-plancard__col--n1">
            <div class="b-plancard__title">Семейный</div>
            <div class="b-plancard__desc">При предъявлении документа
                <br>подтверждающего родство</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n2">
            <div class="b-plancard__bigtext">250₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n3">
            <div style="margin-bottom: 13px;">
                <span class="b-plancard__bigtext">3000₽<span class="b-plancard__regtext"> - Первое авто</span></span>
            </div>
            <div>
                <span class="b-plancard__bigtext">1500₽<span class="b-plancard__regtext"> - Следующее авто</span></span>
            </div>
        </div>
        <div class="b-plancard__col b-plancard__col--n4">
            <div class="b-plancard__bigtext">10% ЭКОНОМИИ</div>
            <div class="b-plancard__hinttext">при оплате сразу за год</div>
        </div>
    </div>
    <div class="b-plancard b-plancard--blue">
        <div class="b-plancard__col b-plancard__col--n1">
            <div class="b-plancard__title">Для грузовых автомобилей и юридических лиц</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n2">
            <div class="b-plancard__bigtext">400₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n3">
            <div class="b-plancard__bigtext">4500₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n4">
            <div class="b-plancard__bigtext">10% ЭКОНОМИИ</div>
            <div class="b-plancard__hinttext">при оплате сразу за год</div>
        </div>
    </div>
    <div class="b-plancard b-plancard--sea">
        <div class="b-plancard__col b-plancard__col--n1">
            <div class="b-plancard__title">Для мотоциклов</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n2">
            <div class="b-plancard__bigtext">250₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n3">
            <div class="b-plancard__bigtext">1500₽</div>
        </div>
        <div class="b-plancard__col b-plancard__col--n4">
            <div class="b-plancard__bigtext">10% ЭКОНОМИИ</div>
            <div class="b-plancard__hinttext">при оплате сразу за год</div>
        </div>
    </div>
</section>
<section class="b-cms-editor-output" style="padding-bottom: 20px;">
	<h2 style="font-weight: 600;margin-bottom: 10px;">СПОСОБЫ ОПЛАТЫ</h2>
	<p><strong style="font-weight: 600;font-size: 16px;line-height: 2;">Сбербанк онлайн</strong> — <a href="#">загрузить квитанцию для оплаты</a></p>

	<p><strong style="font-weight: 600;font-size: 16px;line-height: 2;">Паркомат</strong> на парковке — круглосуточно</p>

	<p><strong style="font-weight: 600;font-size: 16px;line-height: 2;">Банкомат</strong> в доме быта на первом этаже — с 9 до 21</p>
</section>
<div class="b-big-accordion">
	<h4 class="b-big-accordion__header b-big-accordion__header--font_v2 b-big-accordion__header--color_dark">Правила пользования парковкой</h4>
	<div class="b-big-accordion__content">
		<div class="b-cms-editor-output">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui beatae sequi aut saepe repudiandae facere vitae ab eius dolore voluptas, assumenda ex deleniti voluptatibus perferendis eligendi fugiat! Voluptate, vitae qui.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui beatae sequi aut saepe repudiandae facere vitae ab eius dolore voluptas, assumenda ex deleniti voluptatibus perferendis eligendi fugiat! Voluptate, vitae qui.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui beatae sequi aut saepe repudiandae facere vitae ab eius dolore voluptas, assumenda ex deleniti voluptatibus perferendis eligendi fugiat! Voluptate, vitae qui.</p>
		</div>
       
    </div>
</div>
</div>
{% endblock %}

{% block page_bottom %}
<script>
	new Accordion(".b-big-accordion:first");
</script>
{% endblock %}