{% set title = "Опросы" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
	<div class="b-pollhead">
		<div class="b-pollhead__item b-pollhead__item--active">
			<span class="b-pollhead__link b-pollhead__link--with-count">АКТИВНЫЕ ГОЛОСОВАНИЯ <span class="b-pollhead__counter">2</span></span>
		</div>
		<div class="b-pollhead__item">
		<a href="poll-archive.html" class="b-pollhead__link">АРХИВ</a>
		</div>
	</div>
	<div class="b-poll">
		<div class="b-poll__toprow">
			<div class="b-poll__target b-poll__target--color_n2">НОВО-МОЛОКОВО</div>
			<div class="b-poll__expr">Опрос закончится через 5 дней</div>
		</div>
		
		<h3 class="b-poll__title">Нужна ли установка автоматизированного почтового терминала<br>pickpoint на территории вашего жилого комплекса ?</h3>
		<div class="b-poll__desc"><p>С его помощью Вы сможете получать почтовые посылки и заказы из интернет-магазинов рядом с<br> домом: <a href="http://pickpoint.ru/">pickpoint.ru</a></p></div>
		<img src="img/upload/poll1.jpg" alt="" class="b-poll__img">
		<form action="#" class="b-poll__variants">
			<label class="b-poll__varbtn">
				Да, патрулирование территории жилого комплекса и у каждого человека есть увлечения
				<input type="radio" value="1" name="pollname" class="b-poll__radioinp">
			</label>
			<label class="b-poll__varbtn">
				Нет
				<input type="radio" value="2" name="pollname" class="b-poll__radioinp">
			</label>
			<label class="b-poll__varbtn b-poll__varbtn_your">
				Cвой вариант
				<input type="radio" value="3" name="pollname" class="b-poll__radioinp b-poll__radioinp_your">
			</label>
			<textarea class="form-control b-poll__comment" rows="3" required id="messageFeedbackFormInput" placeholder="Прокомментируйте ваш выбор, если хотите." name="message"></textarea>
			<div class="b-poll__btnwrap">
				<button type="submit" class="btn btn-primary btn-lg">Проголосовать</button>
			</div>
			
		</form>
	</div>

	<div class="b-poll">
		<div class="b-poll__toprow">
			<div class="b-poll__target b-poll__target--color_n4">ЮЖНОЕ ВИДНОЕ</div>
			<div class="b-poll__expr">21.04.2017</div>
		</div>
		
		<h3 class="b-poll__title">Чем вы больше всего любите заниматься в свободное время?</h3>
		<div class="b-poll__desc"><p>У каждого человека есть увлечения, расскажите нам о своих, чтобы мы <br>смогли сделать ваш досуг интереснее!</p></div>
		<img src="img/upload/poll2.jpg" alt="" class="b-poll__img">
		<div class="b-poll__results">
			<div class="b-progress b-progress--active">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Велопробег</div>
					<div class="b-progress__percents">14.8%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 14.8%"></div>
					<div class="b-progress__text">4</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Выступление группы «Длина дыхания»</div>
					<div class="b-progress__percents">66%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 66%"></div>
					<div class="b-progress__text">5</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Детская театральная постановка</div>
					<div class="b-progress__percents">14.8%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 14.8%"></div>
					<div class="b-progress__text">4</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Футбол</div>
					<div class="b-progress__percents">10%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 10%"></div>
					<div class="b-progress__text">3</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}

{% block page_bottom %}

<script>
	$(".b-poll__radioinp").checkboxradio({
		classes: {
            "ui-checkboxradio": "",
            "ui-checkboxradio-label": "",
            "ui-checkboxradio-checked": "b-poll__varbtn--active",
        },
        icon: false,
	});
</script>
{% endblock %}