{% set title = "Архив опросов" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
	<div class="b-pollhead">
		<div class="b-pollhead__item b-pollhead__item--active">
			<span class="b-pollhead__link">АРХИВ</span>
		</div>
		<div class="b-pollhead__item">
		<a href="poll.html" class="b-pollhead__link b-pollhead__link--with-count">АКТИВНЫЕ ГОЛОСОВАНИЯ <span class="b-pollhead__counter">2</span></a>
		</div>
	</div>

	{% for i in range(0,2) %}
	<div class="b-poll">
		<div class="b-poll__toprow">
			<div class="b-poll__target b-poll__target--color_n4">ЮЖНОЕ ВИДНОЕ</div>
			<div class="b-poll__expr">21.04.2017</div>
		</div>
		
		<h3 class="b-poll__title">Чем вы больше всего любите заниматься в свободное время?</h3>
		<div class="b-poll__desc"><p>У каждого человека есть увлечения, расскажите нам о своих, чтобы мы <br>смогли сделать ваш досуг интереснее!</p></div>
		<img src="img/upload/poll2.jpg" alt="" class="b-poll__img">
		<div class="b-poll__results">
			<div class="b-progress b-progress--active">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Велопробег</div>
					<div class="b-progress__percents">14.8%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 14.8%"></div>
					<div class="b-progress__text">4</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Выступление группы «Длина дыхания»</div>
					<div class="b-progress__percents">66%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 66%"></div>
					<div class="b-progress__text">5</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Детская театральная постановка</div>
					<div class="b-progress__percents">14.8%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 14.8%"></div>
					<div class="b-progress__text">4</div>
				</div>
			</div>

			<div class="b-progress">
				<div class="b-progress__toprow">
					<div class="b-progress__title">Футбол</div>
					<div class="b-progress__percents">10%</div>
				</div>
				<div class="b-progress__barwrap">
					<div class="b-progress__bar" style="width: 10%"></div>
					<div class="b-progress__text">3</div>
				</div>
			</div>
		</div>
		
	</div>
	{% endfor %}
	
</div>
{% endblock %}

{% block page_bottom %}{% endblock %}