{% set title = "Профиль" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">ВАШИ ЛИЧНЫЕ ДАННЫЕ</h1>
<div class="b-page-header-controls">
	<a href="profile-edit.html" class="b-page-header-controls__btn b-page-header-controls__btn--large btn btn-lg btn-primary">Редактировать</a>
</div>
<div class="b-panel">
	<div class="b-profile-avatar">
        <img src="/img/profile-avatar.png" alt="" class="b-profile-avatar__img">
        <span class="b-profile-avatar__name">Иван Иванов</span>
    </div>

	<table class="b-profile-infotbl table table-striped-odd">
		<tbody>
			<tr>
				<td>Адрес:</td>
				<td><b>ул. Новомолоковская, д.1, кв. 34</b></td>
			</tr>
			<tr>
				<td>Телефон:</td>
				<td><b>+7 987 876-98-11, +7 987 876-98-09</b></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><b>Example@mail.ru</b></td>
			</tr>
			<tr>
				<td>Семейный статус:</td>
				<td><b>Женат / Замужем</b></td>
			</tr>
			<tr>
				<td>Дата рождения:</td>
				<td><b>24.04.1981</b></td>
			</tr>
			<tr>
				<td>№ договора:</td>
				<td><b>24567312</b></td>
			</tr>
		</tbody>
	</table>

</div>
</div>
{% endblock %}

{% block page_bottom %}{% endblock %}