{% set title = "Редактирование профиля" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
    <h1 class="b-page-header">ВАШИ ЛИЧНЫЕ ДАННЫЕ</h1>
    <section class="b-panel">
        <form class="l-profile-edit-form" id="profileEditForm">
            <div class="l-profile-edit-form__row l-profile-edit-form__row--n_1">
                <div class="l-profile-edit-form__input-wrap">
                    <div class="b-avatar-uploader">
                        <img src="/img/profile-avatar.png" alt="" class="b-avatar-uploader__img">
                        <a href="#" class="b-avatar-uploader__link">Загрузить аватар</a>
                    </div>
                </div>
            </div>
            <div class="l-profile-edit-form__row l-profile-edit-form__row--n_2">
                <div class="l-profile-edit-form__input-wrap">
                    <div class="form-group">
                        <label for="phone1FeedbackFormInput">Телефон 1</label>
                        <input type="tel" class="form-control" required id="phone1FeedbackFormInput" placeholder="Ваш телефон" value="+7 987 876-98-11" name="phone">
                    </div>
                </div>
                <div class="l-profile-edit-form__input-wrap">
                    <div class="form-group">
                        <label for="phone2FeedbackFormInput">Телефон 2</label>
                        <input type="tel" class="form-control" id="phone2FeedbackFormInput" placeholder="Ваш телефон" value="+7 987 876-98-11">
                    </div>
                </div>
            </div>
            <div class="l-profile-edit-form__row l-profile-edit-form__row--n_3">
                <div class="l-profile-edit-form__input-wrap">
                    <div class="form-group">
                        <label for="emailFeedbackFormInput">Email</label>
                        <input type="email" class="form-control" required id="emailFeedbackFormInput" placeholder="demo@demo.ru" value="demo@demo.ru">
                    </div>
                </div>
            </div>
            <div class="l-profile-edit-form__row l-profile-edit-form__row--n_4">
                <div class="l-profile-edit-form__input-wrap">
                    <div class="form-group">
                        <label for="maritalStatusFeedbackFormInput">Семейный статус</label>
                        <select class="form-control" id="maritalStatusFeedbackFormInput">
                            <option value="1">Женат / Замужем</option>
                            <option value="2">Холост / Не замужем</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="l-profile-edit-form__row l-profile-edit-form__row--buttons">
                <div class="btn btn-lg btn-primary">Сохранить</div>
                <div class="btn btn-lg btn-default">Не сохранять</div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block page_bottom %}

<script>
new InteractiveForm({el: "#profileEditForm"});
</script>

{% endblock %}