{% set title = "Обратная связь" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
<div class="b-supporthead">
	<a href="messages.html" class="b-supporthead__backbtn"><i class="ico ico-mini-arrow"></i></a>
	<h1 class="b-supporthead__title">ОБРАЩЕНИЕ 18937</h1>
	<div class="b-supporthead__right-block">
		<div class="b-supporthead__time">20.09.2017</div>
		<div class="b-supporthead__status b-supporthead__status--attention">В РАССМОТРЕНИИ</div>
	</div>
</div>
<div class="b-chat">
	<div class="b-chat__header">
		<div class="b-chat__title">Не закрытая дверь в подъезд</div>
		<button class="b-chat__closebtn btn btn-default">Завершить обсуждение</button>
	</div>
	<div class="b-chat__listing">
		{% for i in range(1,5) %}
		<div class="b-chat__message">
			<div class="b-chat__msgleft">
				<div class="b-chat__textblock b-chat__textblock--v2">
					<img src="/img/profile-avatar.png" alt="" class="b-chat__avatar">
					<div class="b-chat__text">Доброе утро. Как соседей заставить закрывать за собой металлические входные двери ? Может у кого есть идеи? Доводчик скорее всего снимут и продадут.</div>
				</div>
			</div>
			<div class="b-chat__msgright">
				<div class="b-chat__date">20.09.2017</div>
				<div class="b-chat__time">17:45</div>
			</div>
		</div>

		<div class="b-chat__message">
			<div class="b-chat__msgleft">
				<div class="b-chat__textblock">
					<img src="/tmp/88x88.png" alt="" class="b-chat__avatar">
					<div class="b-chat__text">Здравствуйте, Дмитрий. Спасибо за обращение в нашу службу поддержки.  Как соседей заставить закрывать за собой металлические входные двери ?</div>
				</div>
			</div>
			<div class="b-chat__msgright">
				<div class="b-chat__date">20.09.2017</div>
				<div class="b-chat__time">17:45</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="b-chat__footer">

	<form>
	    <div class="b-chat__controls">
	        <div class="b-chat__fieldwrap">
	            <textarea class="b-chat__textfield form-control" rows="1" autocomplete="off" placeholder="Напишите сообщение"></textarea><a href="#" class="b-chat__fileupload"><i class="ico ico-add-files"></i></a></div>
	        <div class="b-chat__submitwrap">
	            <button class="btn btn-primary btn-lg">Отправить</button>
	        </div>
	    </div>
	    <div class="b-chat__fieldwrap">
	        <div class="b-fileupload" id="supportFormFileUpload">
                <label class="b-fileupload__lbl hidden">
                    <i class="b-fileupload__ico ico ico-add-files" id="supportFormChooseFileHiddenControl"></i>Прикрепить файл
                    <input type="file" name="files[]" data-url="/uploading/" class="b-fileupload__inp">
                </label>
            </div>
	    </div>
	</form>

	</div>
</div>
</div>
{% endblock %}

{% block page_bottom %}

<script>
$(".b-chat__textfield:first").elasticTextArea();

new Fileupload("#supportFormFileUpload");


var $actualUploadWidgetBtn = $("#supportFormChooseFileHiddenControl");
var $chatFileUploadIcon = $(".b-chat__fileupload:first");
$chatFileUploadIcon.on('click', function(event) {
    event.preventDefault();
    $actualUploadWidgetBtn.trigger('click');
    return false;
});
</script>

{% endblock %}