{% set title = "Вебкамеры" %}
{% extends "layout.html" %}
{% block content %}
<div class="l-center-column">
<h1 class="b-page-header">ВЕБ-КАМЕРЫ</h1>
<img src="/img/webcams/player.jpg" alt="" class="b-webcam-player">

{% for item in range(1,3) %}
<div class="b-webcams-list">
	<h3 class="b-webcams-list__title">НОВО-МОЛОКОВО</h3>
	<div class="b-webcams-list__grid">
	
		{% for item in range(1,6) %}
			<a href="#" class="b-webcamcard">
				<div class="b-webcamcard__picwrap">
					<img src="/tmp/310x174.png" alt="" class="b-webcamcard__pic">
					<div class="b-webcamcard__play-btn"><i class="ico ico-triangle"></i></div>
				</div>
				<h6 class="b-webcamcard__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h6>
				<div class="b-webcamcard__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
			</a>

			<a href="#" class="b-webcamcard">
				<div class="b-webcamcard__picwrap">
					<img src="/tmp/310x174.png" alt="" class="b-webcamcard__pic">
					<div class="b-webcamcard__play-btn"><i class="ico ico-triangle"></i></div>
				</div>
				<h6 class="b-webcamcard__title">Солнечный проезд, д.6,</h6>
				<div class="b-webcamcard__text">Детская площадка А</div>
			</a>
		{% endfor %}
	</div>
</div>
{% endfor %}


</div>
{% endblock %}