@font-face {
    font-family: 'fonticons';
    src: url('../fonts/fonticon.ttf') format('truetype'),
    url('../fonts/fonticon.woff') format('woff'),
    url('../fonts/fonticon.svg#fonticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
    font-family: 'fonticons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-exit:before {
  content: "\e919";
}

.ico-add-files:before {
    content: "\e900";
}

.ico-arrow-down:before {
    content: "\e901";
}

.ico-arrow-round:before {
    content: "\e902";
}

.ico-bus:before {
    content: "\e903";
}

.ico-calendar:before {
    content: "\e904";
}

.ico-calendar2:before {
    content: "\e905";
}

.ico-close-thick:before {
    content: "\e906";
}

.ico-document:before {
    content: "\e908";
}

.ico-soc-fb:before {
    content: "\e909";
}

.ico-gift:before {
    content: "\e90a";
}

.ico-house:before {
    content: "\e90b";
}

.ico-close-thin:before {
    content: "\e90c";
}

.ico-ant:before {
    content: "\e90d";
}

.ico-map-pin:before {
    content: "\e90e";
}

.ico-mark:before {
    content: "\e90f";
}

.ico-message:before {
    content: "\e910";
}

.ico-mini-arrow:before {
    content: "\e911";
}

.ico-news:before {
    content: "\e912";
}

.ico-notify:before {
    content: "\e913";
}

.ico-phone:before {
    content: "\e914";
}

.ico-profile:before {
    content: "\e915";
}

.ico-soc-vk:before {
    content: "\e916";
}

.ico-webcam:before {
    content: "\e917";
}

.ico-wifi:before {
    content: "\e918";
}

.ico-triangle:before {
    content: "\ea1c";
}

.ico-checkmark:before {
    content: "\ea10";
}
.ico-question{
    font-family: Arial, sans-serif!important;
    font-style: normal;
    &:before {
        content: "?";
        font-weight: 700;
    }
}

.ico-rouble:before {
    content: "\e91a";
}


.ico-rotate-180 {
    transform: rotate(180deg);
}

.ico-rotate-270 {
    transform: rotate(270deg);
}

