:root {
    @custom-media --h680 (max-height: 680px);
    --asideWidth: 240px;
    --asideInnerPadding: 20px;
    --colorOrangeN1: #f29908;
    --colorLightblue: #47acfa;
    --colorGray: #5c6880;
    --colorLightgray: #8992a3;
    --colorSuccess: #509f00;
    --colorKhaki: #a0ab43;
    --clearfix: {
        &:before,
        &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    };


    --roundIcon: {

        background-color: var(--colorLightblue);
        display: inline-block;
        width: 40px;
        min-width: 40px;
        height: 40px;
        box-shadow: 0 3px 4px 0 rgba(71, 172, 250, 0.5);
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        &--color {
            &_violet {
                background-color: #8d7dc3;
                box-shadow: 0 2px 4px 0 rgba(141, 125, 195, 0.5);
            }

            &_violet2 {
                background-color: #5964b9;
                box-shadow: 0 3px 4px 0 rgba(124, 146, 218, 0.5);
            }

            &_green {
                background-color: #11a698;
                box-shadow: 0 3px 4px 0 rgba(93, 202, 192, 0.5);
            }

            &_green2 {
                background-color: #63bb21;
                box-shadow: 0 2px 4px 0 rgba(99, 187, 33, 0.5);
            }

            &_green3 {
                background-color: #84bb21;
                box-shadow: 0 3px 4px 0 rgba(158, 205, 75, 0.5);
            }

            &_yellow {
                background-color: #ffbc00;
                box-shadow: 0 2px 4px 0 rgba(255, 188, 0, 0.5);
            }

            &_blue2 {
                background-color: #597fb9;
                box-shadow: 0 3px 4px 0 rgba(110, 147, 202, 0.5);
            }
        }
    }
}