/*=require includes/vars.css */
/*=require includes/fonts.css */
/*=require includes/fonticons.css */
/*=require includes/bootstrap.modified.css */
/*=require includes/layouts/*.css */
/*=require includes/blocks/*.css */

* {
    outline: none!important;
}

html{
	overflow-y: scroll;
}


.city-delimiter{
    height: 40px;
    background: red;
    border: 1px solid green;
}