.l-aside {
    background-color: #000520;
    bottom: 0;
    position: fixed;
    width: 240px;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 100;
    &__topbar-wrap{
        position: relative;
        padding: var(--asideInnerPadding) var(--asideInnerPadding) calc(var(--asideInnerPadding) / 2) var(--asideInnerPadding);
        box-shadow:  -14px 3px 7px #000520;
        z-index: 100;
    }
    &__scroller {
        padding:  0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - (var(--asideInnerPadding) * 1.5) - 50px);
        overflow-y: auto;
        position: relative;
    }

    &__bottom {
        padding-top: 20px;
    }

    &__topbar {
        display: table;
        width: 100%;
    }
    &__left,
    &__right {
        display: table-cell;
        vertical-align: top;
    }

    &__left {
        /*padding-left: 1px;*/
        width: 100%;
    }

    &__right {

        padding:  21px 5px 0 0;

    }
}