.l-center-column {
    width: calc(1280px - var(--asideWidth) - 60px);
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 30px;
 	&--tight{
 		max-width: 600px;
 	}

 	&--pad_0{
		padding: 0;
 	}


}