.l-feedback-form{
	&__subjects{
		padding-bottom: 32px;
	}

	&__inputs-row{
		display: flex;
		justify-content: space-between;
		padding-bottom: 14px;
	}

	&__input-wrap{
		&--residential{
			width: 228px;
		}

		&--phone{
			width: 164px;
		}

		&--address{
			width: 390px;
		}

		&--section{
			width: 100px;
		}
	}

	&__uploads{
		padding: 0 0 20px 0;
		max-width: 600px;
	}
}