.l-newslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after {
        content: "";
        width: 310px;
        visibility: hidden;
        pointer-events: none;
    }
}