.l-profile-edit-form {
    &__row {
    	@apply --clearfix;
        &--n_1 {
            padding-bottom: 30px;
        }

        &--buttons{
        	padding-top: 14px;
        	& > .btn{
        		margin-right: 30px;
        	}
        }
    }
    &__input-wrap {
        width: 280px;
        margin-right: 30px;
        float: left;
        /*&:nth-child(3){
        	margin-right: 0;
        }*/
    }
}