.l-split {
    display: flex;

    &--va {
        align-items: center;
    }

    &__half {
        width: 50%;
    }

    &--gutter_20>&__half {
        &:first-child {
            padding-right: 10px;
        }

        &:last-child {
            padding-left: 10px;
        }
    }
}