<div id="callmeModal" class="b-modal">
    <div id="callmeFormBlock">
        <div class="b-modal__inner b-modal__inner--size_xs">
            <div class="b-modalform">
                <h2 class="b-modalform__title text-left">Заказать звонок</h2>
                <form action="#" id="callmeForm">
                    <div class="b-modalform__form-group b-modalform__form-group--padb_15">
                        <input type="text" class="b-modalform__inp form-control" required id="firstnameCallmeModalInput" placeholder="Ваше имя" value="" name="name">
                    </div>
                    <div class="b-modalform__form-group">
                        <input type="tel" class="b-modalform__inp form-control" required id="phoneCallmeModalInput" placeholder="+7 (123) 456-78-90" value="" name="phone">
                    </div>
                    <div class="b-modalform__form-group">
                        {{ customCheckbox.block('acceptCheckboxInCallmeForm', isAccept=true, isRequired=true) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg b-modalform__btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>
</div>