<div id="cultureModal" class="b-modal">
    <div id="cultureModalBlock">
        <div class="b-modal__inner">
            <div class="b-modalform b-culture-popup">
                <h2 class="b-modalform__title text-left b-culture-popup__title js-culture-content" data-field="title">Английский язык</h2>
                <div class="b-culture-popup__info">
                    <div class="b-culture-popup__description_table js-culture-content" data-field="props"></div>
                    <div class="b-culture-popup__description_text"><div class="js-culture-content" data-field="description"></div></div>
                </div>
                <div class="b-culture-popup__orderBtnWrap"><a href="" class="btn btn-primary event-register">Записаться</a></div>
                <div class="b-culture-popup__swiper js-culture-content" data-field="gallery">
                    <div class="b-culture-popup__swiper-title"></div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper"></div>
                        <div class="b-culture-popup__swiper_ctr b-culture-popup__swiper_prev"><i class="ico ico-arrow-round"></i></div>
                        <div class="b-culture-popup__swiper_ctr b-culture-popup__swiper_next"><i class="ico ico-arrow-round"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>