<div id="loginModal" class="b-modal">
    <div id="loginFormBlock">
        <div class="b-modal__inner b-modal__inner--size_xs">
            <div class="b-modalform">
                <h2 class="b-modalform__title">ВХОД В ЛИЧНЫЙ КАБИНЕТ</h2>
                <form action="#">
                    <div class="b-modalform__form-group b-modalform__form-group--padb_15">
                        <input type="text" class="b-modalform__inp form-control" required id="usernameLoginModalInput" placeholder="Логин" value="" name="login">
                    </div>
                    <div class="b-modalform__form-group">
                        <input type="password" class="b-modalform__inp form-control" required id="passLoginModalInput" placeholder="Пароль" value="" name="pass">
                    </div>
                    <div class="b-modalform__form-group">
                        <div class="l-split l-split--va">
                            <div class="l-split__half">{{ customCheckbox.block('rememberMeCheckboxInLoginForm','Запомнить меня') }}</div>
                            <div class="l-split__half text-right"><a href="javascript:void(0);" onclick="$('#loginFormBlock,#restorePassFormBlock').toggle();"><small class="b-modalform__small-text">Забыли пароль?</small></a></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg b-modalform__btn">Войти в систему</button>
                </form>
            </div>
        </div>
        <div class="b-modal__footer text-center">
            <a href="javascript:void(0);" onclick="$('#loginFormBlock,#registrationFormBlock').toggle();">Зарегистрироваться</a>
        </div>
    </div>
    <div id="restorePassFormBlock" style="display: none;">
        <div class="b-modal__inner b-modal__inner--size_xs">
            <div class="b-modalform">
                <h2 class="b-modalform__title">Восстановить пароль</h2>
                <form action="#">
                    <div class="b-modalform__form-group b-modalform__form-group--padb_15">Чтобы сбросить пароль, введите свой электронный адрес и следуйте инструкциям их письма</div>
                    <div class="b-modalform__form-group b-modalform__form-group--padb_15">
                        <input type="email" class="b-modalform__inp form-control" id="restoreUserPassEmailModalInput" placeholder="Адрес электронной почты" value="" required name="email">
                    </div>
                    <div class="b-modalform__form-group b-modalform__form-group--padb_15">
                        <button type="submit" class="btn btn-primary btn-block btn-lg b-modalform__btn">Восстановить пароль</button>
                    </div>
                    <div class="text-right"><a href="javascript:void(0);" onclick="$('#loginFormBlock,#restorePassFormBlock').toggle();"><small class="b-modalform__small-text">Или войти с паролем</small></a></div>
                </form>
            </div>
        </div>
    </div>
    <div id="registrationFormBlock" style="display: none;">
        <div class="b-modal__inner b-modal__inner--size_lg">
            <div class="b-modalform">
                <h2 class="b-modalform__title">ВХОД В ЛИЧНЫЙ КАБИНЕТ</h2>
                <form action="#">
                    <div class="b-modalform__form-group">
                        <div class="l-split l-split--gutter_20">
                            <div class="l-split__half">
                                <label class="b-modalform__label" for="fioRegisterModalInput">Фамилия Имя Отчество</label>
                                <input type="text" class="b-modalform__inp form-control" required id="fioRegisterModalInput" placeholder="Иванов Александр Петрович" value="">
                            </div>
                            <div class="l-split__half">
                                <label class="b-modalform__label" for="contractNumRegisterModalInput">Номер договора на покупку объекта недвижимости</label>
                                <input type="text" class="b-modalform__inp form-control" required id="contractNumRegisterModalInput" placeholder="К7-18/98112773" value="" name="orderid">
                            </div>
                        </div>
                    </div>
                    <div class="b-modalform__form-group">
                        <div class="l-split l-split--gutter_20">
                            <div class="l-split__half">
                                <label class="b-modalform__label" for="emailRegisterModalInput">Email</label>
                                <input type="email" class="b-modalform__inp form-control" required id="emailRegisterModalInput" placeholder="nickname@mail.ru" value="" name="email">
                            </div>
                            <div class="l-split__half">
                                <label class="b-modalform__label" for="phoneNumRegisterModalInput">Телефон</label>
                                <input type="tel" class="b-modalform__inp form-control" required id="phoneNumRegisterModalInput" placeholder="+7 (123) 456-78-91" value="" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="b-modalform__form-group">
                        <label class="b-modalform__label" for="addressRegisterModalInput">Фактический адрес проживания</label>
                        <input type="text" class="b-modalform__inp form-control" id="addressRegisterModalInput" placeholder="Город, улица, дом, номер квартиры" value="">
                    </div>
                    <div class="b-modalform__form-group">
                        {{ customCheckbox.block('acceptCheckboxInLoginForm', isAccept=true, isRequired=true) }}
                    </div>
                    <div class="l-split l-split--va">
                        <div class="l-split__half">
                            <button type="submit" class="btn btn-primary btn-lg b-modalform__btn">Зарегистрироваться</button>
                        </div>
                        <div class="l-split__half text-right">Уже зарегистрированы? <a href="javascript:void(0);" onclick="$('#loginFormBlock,#registrationFormBlock').toggle();">Войти</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="successRegisterFormBlock" style="display: none;">
    <div class="b-modal__inner b-modal__inner--size_sm b-modal__inner--bg_white">
        <div class="b-formresult">
            <i class="b-formresult__ico ico ico-mark"></i>
            <div class="b-formresult__title">Спасибо за регистрацию!</div>
            <div class="b-formresult__text"> Вам на почту придет письмо с <br>данными для входа</div>
        </div>
    </div>
    </div>

</div>

{# <script>
$.fancybox.open($("#loginModal"));
</script> #}

<script>
$('[data-src="#loginModal"]').fancybox({
    beforeShow: function() {
        $("#loginModal > div").hide().eq(0).show();
    }
});
</script>