<div id="privacyTextModal" class="b-modal">
	<div class="b-modal__inner b-modal__inner--size_lg b-modal__inner--bg_white">
		<div class="b-cms-editor-output">
			<h3 style="font-size: 22px;	font-weight: bold;line-height: 1.64;">Lorem ipsum dolor sit amet.</h3>
			<br>
			{% for i in range(1,20) %}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit molestias animi exercitationem suscipit ea ipsum consectetur, tempore ducimus incidunt expedita, doloremque, a consequuntur! Non a ducimus suscipit esse dolor rerum.</p>
			{% endfor %}
		</div>
	</div>
</div>