.b-article {
    background-color: #ffffff;
    padding: 40px 0 28px;
    &__header,
    &__content,
    &__details {
        max-width: 790px;
        margin: 0 auto;
        padding: 0 30px;
    }

    &__header {
        color: #231f20;
        line-height: 1.35;
        padding-bottom: 14px;
    }

    &__details {
        padding-bottom: 30px;
        font-size: 1.2rem;
    }

    &__date,
    &__category {
        display: inline-block;
    }

    &__date {
        margin: 0 28px 0 5px;
    }

    &__category {
        color: var(--colorLightgray);
    }

    &__picture {
        display: block;
        margin: 0 auto 43px;
        max-width: 100%;
    }

    &__content {
        color: var(--colorGray);
        &>p,
        &>img {
            margin-bottom: 22px;
            line-height: 1.534;
            display: block;
        }

        &>img {
            max-width: 100%;
        }

        &>p>a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}