.b-bigradio{
	display: flex;
    justify-content: space-between;
    &__btn {
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #dadde6;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #142547;
        height: 106px;
        width: 221px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        margin: 0!important;
        &:after{
            position: absolute;
            bottom: -7px;
            left: 50%;
            margin-left: -23px;
            width: 56px;
            height: 7px;
            background: url(../img/bigradio-btn-corner.png?datauri) center no-repeat;
            background-size: 100% 100%;
            content: "";
            display: none;
        }

        &--active {
            background-color: #f3f7fa;
            border: solid 2px #47acfa;
            color: #47acfa;
            &:after{
                display:block;
            };
        }
    }
    &__inp {
        display: none;
    }
}