.b-big-accordion {

    &__header {
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
        height: 70px;
        line-height: 70px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: var(--colorGray);
        padding: 0 80px 0 30px;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
        border: none;
        display: block;
        &--size_2 {
            height: 80px;
            line-height: 80px;
        }
        &--color_n1{
            background-color: #918458;
        }

        &--color_n2{
            background-color:#829100;
        }

        &--color_n3{
            background-color:#3c4f5a;
        }

        &--color_n4{
            background-color:#e8941c;
        }

        &--color_n5{
            background-color:#e56c24;
        }

        &--color_n6{
            background-color:#6bb5d2;
        }

        &--color_dark {
                background-color: #33374d;
            }

        &--font {
            &_v2 {
                font-weight: 400;
                font-size: 18px;
            }
        }


        &--bordered {
            color: inherit;
            background: #fff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.07);
            border-left: 3px solid white;
            padding-left: 27px;
        }

        &--bordered&--color_n2 {
            border-color: var(--colorKhaki);
        }

        &--bordered&--color_n4 {
            border-color: var(--colorOrangeN1);
        }

        &:first-child {
            margin-top: 0;
        }
    }



    &__content {
        background: #fff;
        padding: 20px 30px 15px;
    }

    &__icon {
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -15px;
        font-size: 3rem;
        color: #fff;
        opacity: 0.5;
        transition: all 0.2s;
        &--active {
            transform: rotate(90deg);
        }
    }
    
    &__header--bordered>&__icon {
        color: var(--colorGray);
    }

    /*&--pseudo:hover>&__header>&__icon {
        color: #8992a3;
    }*/
}