.b-bn3 {
    background: #fff;
    
	
    &__inner{
    	display: flex;
        padding: 65px 0px 48px 40px;
    }
    &__content{
    	width: 52%;
    	padding-top: 23px;
    	position: relative;
        z-index: 10;

    }
    &__bg{
		width: 48%;
		background-position: center;
    	background-repeat: no-repeat;
		background-size: contain;
    }
    &__title {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.0;
        padding-bottom: 30px;
    }

    &__text{
		font-size: 1.6rem;
		line-height: 1.3;
		padding-bottom: 30px;
    }

    &__buttons{
		padding-bottom: 30px;
    }

    &__btn{
		margin-right: 12px;
    }
}