.b-bnr {
    color: #ffffff;
    padding: 129px 30px 125px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__inner{
    	width: 520px;
    }
    &--n_1 {
        height: 400px;
        background-color: #000000;
    }
    &__header {
        font-size: 3rem;
        font-weight: bold;
        padding-bottom: 30px;
        color: #fefefe;
        line-height: 1;
    }

    &__text {
        line-height: 1.35;
        &>p {
            font-size: 1.6rem;
            &:last-child{
            	margin-bottom:0;
            }

        }
    }
}