.b-bnr2 {
    height: 300px;
    background-color: var(--colorLightgray);
    padding: 45px 40px;
    background-size: 100% 100%;
    color: #fff;
    &__content {
        width: 62%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;

    }

    &__title,&__text{
    	pointer-events: none;
        user-select:none;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.0;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        text-align: justify;
        line-height: 1.245;
        padding-bottom: 28px;
    }

    &__btn {
        border-radius: 4px;
        background-color: #224483;
        font-size: 1.6rem;
        color: #fff;
        display: inline-block;
        overflow: hidden;
        transition: all 0.2s;
        padding: 14px 30px;
        line-height: 1;
        &:hover {
            opacity: 0.95;
        }
    }
}