.b-bnrslider{
	margin-bottom: 43px;
	&__pagination{
		position: absolute;
		bottom: 16px!important;
		z-index: 10;
		display: inline-block;
		text-align: center;
	}

	&__bullet{
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 0 5px;
		background-color: #224483;
		cursor: pointer;
		&--active{
			background-color: #fff;
		}
	}
}