.b-bnr4{
	&__content{
		min-height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
	}

	&__date{
		padding-right: 30px;
		text-align: center;
	}

	&__day{
		font-size: 3.5rem;
		line-height: 1;
	}

	&__month{
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.25;
	}

	&__title{
		width: 604px;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1.0;
	}
	
}