.b-calendar {
    &__toprow {
        display: flex;
        align-items: center;
        padding: 0 0 33px;
    }

    &__topright {
        width: 368px;
        margin-left: auto;
    }

    &__head {
        font-size: 3rem;
        font-weight: bold;
        padding-bottom: 5px;
    }

    &__main {
        &>.ui-datepicker {
        	font-family: "OpenSans", Arial, sans-serif;
            width: 100%;
            padding: 0;
            background: none;
            border: none;
            &>.ui-datepicker-calendar{
                background: #fff;
            }
            &>.ui-widget-header {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                background-color: #33374d;
                border: none;
                display: flex;
                flex-wrap: nowrap;
                &>.ui-datepicker-prev,
                &>.ui-datepicker-next,
                &>.ui-datepicker-title {
                    flex: 1;
                    color: #ffffff;
                    position: relative;
                    height: 69px;
                    line-height: 69px;
                    text-align: center;
                }

                &>.ui-datepicker-prev,
                &>.ui-datepicker-next {
                    background-color: #2f3347;
                    cursor: pointer;
                    &>.ui-icon {
                        position: static;
                        display: inline-block;
                        font-family: "fonticons";
                        text-indent: 0;
                        overflow: visible;
                        font-size: 2.9rem;
                        font-weight: 400;
                        margin: 0;
                        &:after {
                            content: "\e902";
                        }
   
                    }
                }


                &>.ui-datepicker-next {
                    order: 2;
                }

                &>.ui-datepicker-prev {
                    &>.ui-icon {
                        transform: scaleX(-1);
                    }
                }
            }

            &>.ui-datepicker-calendar{
            	table-layout: fixed;
            }

            &>.ui-datepicker-calendar>thead {
                background-color: #42465c;

                &>tr>th {
                    height: 69px;
                    line-height: 69px;
                    font-weight: 600;
                    color: #ffffff;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }

            &>.ui-datepicker-calendar>tbody>tr>td {
            	border: 1px solid #dadde6;
            	padding: 0;
            	&.ui-datepicker-week-end>a{
            		background-color: #f3f7fa;
            	}
                &>a,&>.ui-state-default {
                    padding: 0;
                    border: none;
                    min-height: 106px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
					font-weight: 600;
					color: #1d5d9d;
					&.ui-state-hover{
						border: solid 2px rgba(29, 93, 157, 0.4);
					}

					&.ui-state-highlight{
						background-color:  transparent;
					}

                }

                &.ui-state-disabled>.ui-state-default{
                	background-color: #eeeff0;
                	color: #acb6c0;

                }

                &.b-calendar__td--active{
                	&>a{
                		color: #fff;
                		background-image: url("../img/blueoval.png");
                		background-position: center;
                		background-repeat: no-repeat;
                		background-size: 47px 47px;
                		font-weight: 400;

                	}
                }
            }
        }
    }


}