.b-checklist {
    padding: 0;
    margin:0;
    width: 438px;
    padding-left: 6px;
    &__leaf {
        list-style: none;
        position: relative;
        padding-left: 54px;
        line-height: 1.32;
        padding-bottom: 41px;
        letter-spacing: -0.007em;
        &:before {
            position: absolute;
            content: "\ea10";
            width: 30px;
            height: 30px;
            background-color: #47acfa;
            box-shadow: 0 2px 3px 0 rgba(71, 172, 250, 0.5);
            display: block;
            color: #fff;
            font-family: 'fonticons';
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 10px;
            left: 0;
            top: 1px;
        }
    }
}