.b-chat {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 3px;
    overflow: hidden;

    &__header {
        padding: 18px 20px 18px 30px;
        border-bottom: 1px solid #dadde6;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 600;
    }
    &__closebtn {
        min-width: 230px;
    }

    &__message {
        display: table;
        width: 100%;
    }

    &__msgright,
    &__msgleft {
        display: table-cell;
        vertical-align: top;
    }

    &__msgleft {
        width: 100%;
        padding-left: 14px;
    }

    &__msgright {
        padding: 12px 20px 0;
        color: #84909c;
        font-weight: 600;
        font-size: 1.1rem;
        text-align: right;
    }

    &__listing {
        padding-top: 30px;
    }

    &__textblock {
        display: flex;
        padding-bottom: 30px;
        &--v2 {
            flex-direction: row-reverse;
        }
    }

    &__avatar {
        margin: 0 16px;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        position: relative;
        top: 3px;
    }

    &__text {
        background-color: #f3f7fa;
        padding: 10px 40px 10px 20px;
        border-radius: 4px;
        max-width: 630px;
    }

    &__textblock--v2>&__avatar {
        margin-right: 0;
    }
    &__textblock--v2>&__text {
        background-color: #def1ff;
    }

    &__time {
        font-size: 0.9em;
        font-style: italic;
        padding-top: 2px;
        padding-right: 2px;
    }

    &__footer {
        background-color: #e9edf2;
        padding: 10px;
    }

    &__controls {
        display: flex;
        flex-wrap: nowrap;
    }

    &__fieldwrap {
        width: 84.687%;
        padding-right: 10px;
        position: relative;
        margin-bottom: 10px;
    }


    &__fileupload {
        position: absolute;
        bottom: 13px;
        right: 25px;
        font-size: 20px;
        color: #848f9c!important;
    }

    &__fileupload-wrap{
        padding: 20px 0;
    }
}

textarea.b-chat__textfield {
    width: 100%;
    display: block;
    font-size: 1.4rem;
    line-height: 1.15;
    height: 52px;
}