.b-cms-editor-output {
    line-height: 1.34;
    & dl {
        margin-bottom: 0;
        &>dt {
            margin-bottom: 4px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &>dd {
            margin-bottom: 20px;
        }
    }
}