.b-contacts{
	background: #fff;
	padding: 30px 30px 0;
	margin-bottom: 20px;
	&__title{
		padding-bottom: 34px;
		font-weight: 600;
		font-size: 1.8rem;
		&--color_n1{
			color: #918458;
		}

		&--color_n2{
			color:#829100;
		}

		&--color_n3{
			color:#3c4f5a;
		}

		&--color_n4{
			color:#e8941c;
		}

		&--color_n5{
			color:#e56c24;
		}

		&--color_n6{
			color:#6bb5d2;
		}
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item{
		width: 33.333333%;
		padding-bottom: 40px;
	}

	&__caption{
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.3;
		padding-bottom: 11px;
	}

	&__value{
		line-height: 1.3;
	}
}