.b-cornered-photo{
	position: relative;
	display: inline-block;
	padding: 0 0 30px 30px;
	overflow: hidden;
	&__corner{
		position:absolute;
		bottom: 0;
		left: 0;
		width: calc(47% + 60px);
		background-color: #e6f6ff;
		pointer-events: none;
		&:after{
			content: "";
			padding-top: 100%;
			display: block;
		}
		
	}
	&__img{
		position: relative;
		max-width: 100%;
	}
}