.b-contactslist{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	&__head{
		font-size: 18px;
		font-weight: 600;
		padding-bottom: 30px;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
	}

	&__leaf{
		list-style: none;
		padding: 0px 26px;
	}

	&__caption{
		color: var(--colorLightgray);
		padding-bottom: 10px;
	}

	&__value{
		font-size: 1.8rem;
	}
}