.b-custom-checkbox {
    text-align: left;
    font-size: 1.4rem;
    user-select: none;
    position: relative;
    &__input {
        opacity: 0;
        z-index: -1;
    }

    &__input,
    &__label:before {
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        top: 0;
        margin-top: -2px!important;
        left: 0;
        overflow: hidden;
    }

    &__label {
        cursor: pointer;
        position: relative;
        padding-left: 24px;
        padding-bottom: 0;
        line-height: 1.3;
        font-weight: normal;
        font-size: 1.2rem;
        &:before {
            content: "";
            background: #fff center no-repeat;
            background-size: 8px 7px;
            border-radius: 4px;
            border: solid 1px #dadde6;
            font-family: 'fonticons';
            text-align: center;
            line-height: 18px;
            color: var(--colorLightblue);
            font-size: 13px;
        }
    }

    &__link {
        color: #1d5d9d;
    }

    &__input:checked+&__label {
        &:before {
            content: "\ea10";
        }
    }

    &__input:focus+&__label {
        &:before {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(191, 207, 222, 0.6);
        }
    }

    &__input:not(:checked).error+&__label {
        &:before {
            background-color: #f9ecea;
            border-color: #cc4b37;
        }
    }
}