.b-culture-popup {
    width: 930px;
    max-width: 100%;
    padding-top: 22px;
    &__title {
        padding-bottom: 30px!important;
    }
    &__info {
        background: white;
        border-radius: 5px;
        padding: 26px 21px 26px 34px;
        display: flex;
        line-height: 30px;
        position: relative;
        align-items: stretch;
        min-height: 139px;
        &:not(.no-delimiter) {
            min-width: 630px;
            &:after {
                position: absolute;
                right: 60%;
                top: 50%;
                content: "";
                width: 2px;
                height: calc(100% - 52px);
                transform: translate(0, -50%);
                background-color: #dadde6;
            }
        }
    }
    &__description_table {
        width: 40%;
        display: table;
    }
    &__table_row {
        display: table-row;
    }
    &__table_cell {
        display: table-cell;
        &--grey {
            opacity: 0.5;
        }
    }
    &__description_text {
        width: 60%;
        padding-left: 42px;
        position: relative;
        &>div {
            height: 100%;
            position: absolute;
            padding-right: 25px;
        }
    }
    &__swiper {
        padding-top: 42px;
        width: 930px;
    }
    &__swiper-title {
        font-size: 22px;
        padding-left: 18px;
        padding-bottom: 17px;
    }
    &__swiper-slide {
        width: 100%;
        height: 626px;
        &>div {
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__swiper_ctr {
        width: 83.7px;
        height: 69px;
        background-color: #2f3347;
        position: absolute;
        bottom: 0;
        z-index: 1;
        font-size: 30px;
        color: #575B69;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color .3s ease-out;
        &:not(.swiper-button-disabled) {
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
    }
    &__swiper_prev {
        left: 0;
        transform: rotate(-180deg);
    }
    &__swiper_next {
        right: 0;
    }

    &__orderBtnWrap{
        padding-top: 26px;
    }
}