.b-daycard {
    padding: 22px 20px 18px;
    width: 224px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    cursor:pointer;
    &:hover {
       opacity: .95;
       box-shadow: inset 0 1px 1px rgba(0,0,0,.085),0 0 8px rgba(191,207,222,.7);
    }
    &--violet {
        background-color: #ebe9f2;
    }

    &--pink {
        background-color: #f3e9e9;
    }

    &--khaki {
        background-color: #f1f2df;
    }

    &--green {
        background-color: #e7f3e8;
    }

    &--blue {
        background-color: #f3f7fa;
    }

    &--empty {
        visibility: hidden;
    }



    &--pay {
        &:before {
            position: absolute;
            font-size: 1.2rem;
            content: "₽";
            right: 20px;
            top: 20px;
            color: #84959c;
        }
    }

    &__time {
        font-size: 1.2rem;
        padding-right: 14px;
    }

    &__bold-text {
        font-weight: 600;
    }

    &__event {
        font-weight: 600;
        height: 40px;
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        text-transform: uppercase;
    }
}