.b-dl{
	font-size: 1.4rem;
	line-height: 1.4;
	&__title{
		font-weight: 600;
		padding-bottom: 2px;
	}
	&__def{
		padding-bottom: 14px;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 11px;
		&:last-child{
			border:none;
			margin: 0;
			padding-bottom:0;
		}
	}
}