.b-dlscheme{
	padding: 30px;
	background: #fff;
	display: flex;
	align-items: center;
	&__left{
		width: 150px;
	}

	&__right{
		padding-left: 20px;
	}

	&__pic{
		width: 100%;
		height: auto;
		display: block;
	}

	&__desc{
		font-weight: 700;
		padding-bottom: 15px;
		line-height: 1.4;
	}
}