.b-extra-contact-modal {
    display: flex;
    align-items: center;
    &__mapwrap {
        height: 633px;
        width: 55%;
        position: relative;
    }

    &__map {
        width: 100%!important;
        height: 100%!important;
    }

    &__desc {
        width: 45%;
        padding: 30px 60px 30px 80px;
        max-height: 633px;
        overflow: auto;
    }

    &__head {
        padding-bottom: 30px;
        text-transform: uppercase;
    }
    &__mapbtn,&__toast{
        position: absolute;
        font-size: 1.3rem;
        bottom: 40px;
        left: 20px;
        padding: 14px;
        border:none;
        line-height: 1.4;
        font-weight: 600;
    }
    &__mapbtn{
        color: #fff;
    	z-index: 1000;
    	
    }

    &__toast{
        
        z-index: 1001;
        
        
        background: #fff;
        pointer-events: none;
        user-select: none;
    }
}