.b-ffrules{
	background: #fff;
	padding: 17px 0 61px 0;
	&__content{
		display: flex;
		justify-content: space-around;
		padding: 45px 0 13px;
	}
	&__buttons{
		display: flex;
		justify-content: center;
	}
	&__btn{
		margin-right: 15px;
	}
}