.b-fileupload{
	color: inherit;
	&__inp{
		display: none!important;
	}

	&__lbl{
		cursor: pointer;
		font-weight: 400;
		font-size: 1.4rem;
		position: relative;
		padding-left: 20px;
		padding-bottom: 0;
		margin-bottom: 0;
		margin-top: 20px;
	}

	&__ico{
		font-size: 2rem;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -10px;
		line-height: 20px;
		height: 20px;
		color: var(--colorLightgray);
	}
	
	&__progress{
		position: relative;
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 1px #dadde6;
		height: 44px;
		margin-bottom: 5px;

	}
	&__progress-text{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		line-height: 44px;
		font-size: 1.4rem;
		padding-left: 40px;
		&:after{
			position: absolute;
			font-size: 2rem;
			line-height: 20px;
			left: 15px;
			top: 50%;
			margin-top: -10px;
			color: var(--colorLightgray);
			content: "\e908";
			font-family: 'fonticons';
			display: inline-block;
		}
	}


	&__progressbar{
		border:none;
/*		&--complete{
			background: #fff;
		}*/
		background-image: url("../img/progressbar__pattern.png");
	}

	&__delete{
		color: #c3c5cd;
		font-size: 20px;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -10px;
	}

	&__percents{
		position: absolute;
		right: 45px;
		height: 100%;
		top:0;
		line-height: 44px;
	}
}