.b-formresult {
    text-align: center;
    padding: 80px 0;
    &__ico {
        @apply --roundIcon;
        width: 44px;
        height: 44px;
        font-size: 1.1rem;
        line-height: 44px;
    }
    &__title {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    &__text {
    	font-size: 1.8rem;
    	line-height: 1.4;
    }
}