.b-footer {
    background: #fff;
    margin-top: auto;

    &__top-row,
    &__bottom-row {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__top-row {
        border-bottom: 1px solid #dadee6;
    }

    /*&__bottom-row {}*/
    &__logo {
        height: 40px;
        width: auto;
    }

    /*&__menu {

    }*/
    &__menu-link {
        font-size: 1.4rem;
        color: #142547;
        display: inline-block;
        margin-right: 22px;
        padding-right: 30px;
        border-right: 1px solid #84909c;
        &:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }

        &:hover{
        	text-decoration: underline;
        }
    }



    &__developer {
        display: table;
        color: #84909c;
    }

    &__developer-logo-wrap,
    &__developer-desc {
        display: table-cell;
        vertical-align: middle;
    }

    &__developer-logo {
    	font-size: 4.5rem;
    	transition: all 0.2s;
    }

    &__developer-desc {
        font-size: 12px;
        line-height: 1.17;
        padding: 0.4rem 0 0 0.58rem;
    }
	
	&__developer:hover > &__developer-logo-wrap{
		color: #389cce;
	}

}