.b-getkeystime {

    &__timetable{
    	@apply --clearfix;
    }

    &__title {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.0;
        text-align: center;
    }

    &__subtitle {
        font-size: 1.6rem;
        line-height: 1.88;
        text-align: center;
        font-weight: 400;
        padding-bottom: 25px;
    }

    &__btnwrap {
        text-align: center;
        padding-top: 15px;
        margin-right: -40px;
        margin-left: -40px;
        border-top: 1px solid #dadde6;
    }

    &__radiobtn{
    	width: 22.5%;
    	float: left;
    	display: block;
    	margin-right: 3.3333333%;
    	margin-bottom: 15px;
    	color: #1d5d9d;
    	font-size: 1.4rem;
    	border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #dadde6;
		padding: 10px 15px;
		text-align: left;
    	&--last-in-row{
    		margin-right: 0;
    	}

        &--checked{
            background-color: #1d5d9d;
            color: #fff;
            text-align: center;
        }
        &:hover{
            border-color: rgba(29, 93, 157, 0.4);
        }
    }

    &__separator{
    	width: 100%;
    	padding-bottom: 15px;
    	clear: both;
    	border-top: 1px solid #dadde6;
    }

    &__btn-arrow{
    	border: none!important;
    	left: auto!important;
    	right: 12px!important;
    	border-radius: 0!important;
    	box-shadow: none!important;
		font-size: 10px!important;
		width: auto!important;
		height: auto!important;
		top: 50%!important;
		margin-top: -5px!important;
        background: none!important;
        color: #1d5d9d;
    }
}