.b-get-club-card {
    background-color: rgb(230, 246, 255);
    padding: 50px 30px 16px;
    text-align: center;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 41px 30px;
    }
    &__phase {
        width: 50%;
        padding: 0 15px 30px;
    }

    &__phasenum {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-weight: 700;
        color: #fff;
        font-size: 1.6rem;
        border-radius: 50%;
        background-color: rgb(71, 172, 250);
        box-shadow: 0 2px 4px 0 rgba(71, 172, 250, 0.5);
        &--color_green {
            background-color: rgb(17, 166, 152);
            box-shadow: 0 2px 4px 0 rgba(17, 166, 152, 0.5);
        }
    }

    &__phasetitle {
        font-size: 18px;
        font-weight: 700;
        padding: 21px 0 12px;
    }

    &__phasetext{
    	line-height: 1.33;
    }
}