.b-header {
    text-align: justify;
    display: flex;
    justify-content: space-around;
    height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #dadde6;
	padding: 4px 30px 0;
	align-items: center;

    &__link {
        font-size: 1.3rem;
        font-weight: 600;
        
		
        &:not(.b-header__link--active){
        	filter: grayscale(1);
        	filter: gray;
        }
    }

    &__pic{
    	height: 25px;
    	width: auto;
    }


}