.b-icocard {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 24px 20px 30px;
    line-height: 1.4;
    margin-bottom: 10px;
    &__top {
        display: flex;
        align-items: center;
    }
    &__topright {
        padding-left: 20px;
    }
    &__ico {
        @apply --roundIcon;
    }
}