.b-icolist {
    margin: 0 0 0 30px;
    padding: 0;
    &__leaf {
        list-style: none;
        position: relative;
        line-height: 1.34;
        padding: 0 18px 40px 38px;
        &:before {
            position: absolute;
            height: 3px;
            width: 16px;
            content: "";
            left: 0;
            top: 8px;
            background-color: var(--colorLightblue);
            pointer-events: none;
            user-select:none;
        }
    }
}