.b-keyrec {
    background: #fff;
    padding: 30px 30px 30px 50px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    &__inner {
        display: table;
        width: 100%;
    }
    &__cell {
        display: table-cell;
        vertical-align: middle;

        &--n1{
        	padding-right: 20px;
			width: 28.5%;
        }

         &--n2{
        	padding-right: 20px;
        	width: 100%;
        }

        &--n3{
			padding-right: 30px;
			border-right: 1px solid #e2e4eb;
        }

        &--n4{
        	padding-left: 30px;
        }
    }

    &__datetime {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 10px 0 6px;
    }

    &__date{
    	margin-right: 6px;
    }
    &__dt-hint{
    	color: var(--colorLightgray);
    }

    &__ctrlblock{
    	color: var(--colorLightgray);
    	text-align: center;
    	display: block;
    	white-space: nowrap;
    	&--change-date{
    		color: #1d5d9d;
    	}
    	&:hover{
    		filter: opacity(0.86);
    	}
    }

    &__ctrl-icowrap{
    	font-size: 3.8rem;
    	line-height: 38px;
    	height: 38px;
    	overflow: hidden;
    }

    &__ctrl-name{
    	font-weight: 600;
    	padding-top: 6px;
    }

    &__ctrlblock--remove>&__ctrl-icowrap{
    	font-size: 2.5rem;
    }
}