.b-lastnews{
	background-color: #fff;
	padding: 30px 25px 20px;

	&__item{
		display: flex;
		padding-bottom: 20px;
		color: inherit;
		&:hover{
			color: var(--colorLightblue);
		}
	}

	&__right{
		padding-left: 14px;
		padding-top: 4px;
		flex-grow: 1;
	}

	&__title{
		font-weight: 700;
		line-height: 1.33;
		padding-bottom: 11px;
	}

	&__info{
		display: flex;
		justify-content: space-between;
		color: var(--colorLightgray);
		font-size: 1.3rem;

	}

	&__all-news-link{
		color: var(--colorLightblue);
		font-weight: 700;
		&:hover{
			text-decoration: underline;
		}
	}



}