.b-linkcard {
    background-color: #fff;
    padding: 36px 20px 38px 30px;
    border-top: 3px solid var(--colorLightblue);
    display: block;
    color: inherit;
    width: 301px;
    &:hover {
        opacity: 0.95;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .085), 0 0 8px rgba(191, 207, 222, .7);
    }
    &--type_timetbl {
        width: 321px;
        padding-left: 22px;
    }
    &--color {
        &_violet {
            border-color: #8d7dc3;
        }

        &_green {
            border-color: #11a698;
        }
    }
    &__ico {
        @apply --roundIcon;
    }

    &__toprow {
        display: flex;
        align-items: center;
        padding-bottom: 23px;
    }

    &__title {
        padding-left: 15px;
        font-weight: 700;
        line-height: 1.35;
    }

    &__arrow {
        font-size: 3rem;
        color: #dadde0;
        margin-left: auto;
    }

    &:hover>&__toprow>&__arrow {
        color: #8992a3;
    }

    &__text {
        line-height: 1.33;
        color: var(--colorGray);
    }

    &__timetbl {
        display: table;
        margin-top: 4px;
    }
    &__timeitem {
        display: table-row;
        height: 39px;
        &:last-child {
            height: auto;
        }
    }

    &__time,
    &__timettl {
        display: table-cell;
        color: var(--colorGray);
    }

    &__time {
        padding-right: 20px;
        font-weight: 700;
    }

    &__timettl {
        white-space: nowrap;
        overflow: hidden;
    }
}