.b-mancompgroup {
    &__title {
        font-weight: 700;
        font-size: 1.3rem;
        padding-bottom: 17px;
        &--color_n1 {
            color: #918458;
        }

        &--color_n2 {
            color: #829100;
        }

        &--color_n3 {
            color: #3c4f5a;
        }

        &--color_n4 {
            color: #e8941c;
        }

        &--color_n5 {
            color: #e56c24;
        }

        &--color_n6 {
            color: #6bb5d2;
        }
    }

    /*&__grid{
		
		padding-bottom: 30px;
	}*/
    &__item {
        padding-bottom: 30px;
    }
}