.b-modal {
    display: none;
    max-width: 100%;
	background-color: #f3f7fa;

    &__inner {
        padding: 30px 40px;
        &--size {
            &_xs {
                width: 390px;
            }
            &_sm {
                width: 500px;
            }

            &_md {
                width: 529px;
            }

            &_lg {
                width: 730px;
            }
            &_xl{
                width: 1100px;
            }
        }

        &--bg_white {
	        background-color: #fff;
	    }

        &--pad{
            &_0{
                padding: 0;
            }
        }
    }
    &__footer {
        padding: 20px;
        background: #fff;
        border-top: 1px solid #dadde6;
        font-weight: 600;
    }
}