.b-modalform{

	&__title{
		padding-bottom: 20px;
	}

	&__form-group{
		padding-bottom: 22px;
		&--padb{
			&_15{
				padding-bottom: 15px;
			}
		}
	}

	&__btn{
		font-size: 1.4rem;
		font-weight: 400;
	}

	&__label{
		padding-bottom: 5px;
		font-size: 1.18rem;
	}

	&__small-text{
		font-size: 1.2rem;
	}
}