.b-nav {
    padding: 19px 0 26px;
    margin-right: -20px;
    margin-left: -20px;
    &__leaf {
        font-family: "ProximaNova", Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.33;
        color: #d8dae3;
        display: block;
        padding: 5px 20px;
        position: relative;
        transition: all 0.1s;
        @media(--h680){
            font-size: 1.4rem;
            padding: 2px 20px;
        }


        &:after {
            position: absolute;
            width: 5px;
            height: 30px;
            background-color: #47acfa;
            top: 0;
            left: 0;
            content: "";
            transition: all 0.1s;
            opacity: 0;
            visibility: hidden;
        }

        &:hover,&--active {
            color: #ffffff;

            &:after {

                opacity: 1;
                visibility: visible;
            }
        }

        &--disabled {
            color: #84889c!important;
            cursor: not-allowed;
            &:after{
                display:none;
            }
        }

        &--divider {
            padding-bottom: 21px;
            border-bottom: 1px solid rgba(218, 221, 224, .2);
            margin-bottom: 14px;
        }
    }
}