.b-notify-counter {
    position: relative;
    cursor: pointer;
    &__ico {
        font-size: 2rem;
    }
    &__number {
        position: absolute;
        left: 50%;
        bottom: 30%;
        border-radius: 2.67rem;
        padding: 1px 4px;
        background: var(--colorOrangeN1);
        font-family: "ProximaNova", Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        border: solid 2px #000520;
    }
}