.b-notice {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 26px 30px;
    margin-bottom: 10px;
    display: flex;
    color: inherit;
    &__left-part {
        flex: 5;
    }
    &__right-part {
        flex: 2;
        border-left: 1px solid #e2e4eb;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__title,&__text{
        padding-right: 20px;
    }

    &__title {
        font-weight: 600;
        padding-bottom: 14px;
    }

    &__text {
        line-height: 1.3;
    }

    &__info {
        padding-left: 30px;
    }

    &__date {
        font-size: 1.3rem;
        font-weight: 600;
        color: #84909c;
        padding-bottom: 6px;
        display: block;
    }

    &__status {
        font-size: 13px;
        font-weight: 600;
        &--attention {
            color: var(--colorOrangeN1)
        }

        &--success {
            color: var(--colorSuccess);
        }
    }

    &__readmore {
        color: #d1d6dc;
        font-size: 3rem;
        
    }

    &:hover {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .085), 0 0 8px rgba(191, 207, 222, .7);
        & .b-notice__title {
        	color: var(--colorLightblue);
        }

        & .b-notice__readmore {
        	color: var(--colorLightgray);
        }
    }
}