.b-notifications {
    width: 320px;
    position: absolute;
    top: -16px;
	left: -17px;
	display: none;

	&--active{
		display: block;
	}
	
    &__close-btn {
        width: 47px;
        height: 45px;
        background-color: #ffffff;
        border: none;
        display: block;
        text-align: center;
        line-height: 50px;
        position: relative;
        z-index: 1;
    }

    &__close-icon {
        color: #84909c;
        font-size: 1.4rem;
    }

    &__box {
        background-color: #ffffff;
        padding-top: 5px;
        box-shadow: 0 2px 34px 0 rgba(0,0,0,0.3);
    }

    &__message {
        padding: 15px 20px;
        border-bottom: 1px solid #dadde6;
        display: block;
    }

    &__date {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.2rem;
        color: #84909c;
        padding-bottom: 10px;
    }

    &__text {
		line-height: 1.27;
        font-size: 1.4rem;
        color: #142547;
    }

    &__bottom-item {
        background-color: #f3f7fa;
        font-size: 1.4rem;
        color: #84909c;
        display: block;
        padding: 16px 20px;
    }
}