.b-pinblock{
	display: flex;
	align-items: center;
	&__title {
		color: #84959c;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 4px 0;
		&--color_n1{
			color: #918458;
		}

		&--color_n2{
			color:#829100;
		}

		&--color_n3{
			color:#3c4f5a;
		}

		&--color_n4{
			color:#e8941c;
		}

		&--color_n5{
			color:#e56c24;
		}

		&--color_n6{
			color:#6bb5d2;
		}

    }

    &__hint{
    	font-size: 1.3rem;
    	color: var(--colorLightgray);
    }

    &__ico{
    	color: #d1d6dc;
    	font-size: 4rem;
    }

    &__right{
    	padding-left: 10px;
    }
}