.b-planlist-head{
	display: table;
	width: 100%;
	padding: 11px 0 16px;
	font-weight: 700;
	color: var(--colorLightgray);
	&__leaf{
		display: table-cell;
		padding: 0 20px;
		&--n1{
			width: 36.5%;
			padding-left: 30px;
		}
		&--n2{
			width: 17.3%;
		}

		&--n3{
			width: 26%;
		}
	}
}