.b-plancard {
    display: table;
    width: 100%;
    background: #fff;
    color: #1e2e4e;
    margin-bottom: 10px;

    &__col {
        display: table-cell;
        padding: 17px 20px;
        vertical-align: middle;
        &--n1 {
            width: 36.5%;
            padding-left: 26px;
            border-left: 4px solid var(--colorLightgray);
        }
        &--n2 {
            width: 17.3%;
        }

        &--n3 {
            width: 26%;
        }

	 	& div:only-child {
			padding-bottom: 0;
		}
    }

    &__title{
    	font-size: 1.8rem;
		font-weight: bold;
		padding-bottom: 10px;
    }

    &__desc{
    	color: var(--colorLightgray);
    	font-size: 1.2rem;
    	line-height: 1.32;
    }

    &__bigtext{
    	font-size: 1.8rem;
    	font-weight: 600;
    	
    	display: inline-block;
    }

    &__regtext{
    	font-weight: 400;
    	font-size: 1.4rem;
    }

    &__hinttext{
    	color: #47acfa;
    	font-size: 1.2rem;
    	padding-top: 8px;
    }
	
	&--yugepad>&__col{
		padding-top: 28px;
		padding-bottom: 28px;
	}


    &--green>&__col {
        border-color: #63bb21;
    }
    &--green>&__col>&__title {
        color: #56a11d;
    }

	&--violet>&__col {
        border-color: #706ca8;
    }
    &--violet>&__col>&__title {
        color: #605ba8;
    }

    &--yellow>&__col {
        border-color: #ffbc00;
    }
    &--yellow>&__col>&__title {
        color: #e6a800;
    }
 	&--blue>&__col {
		border-color: #46acf4;
 	}
	&--blue>&__col>&__title {
		color: #46acf4;
 	}
	&--sea>&__col {
		 border-color: #10a798;
	 }
	&--sea>&__col>&__title {
		 color: #10a798;
	 }
}