.b-poll {
    background-color: #ffffff;
    padding: 32px 30px 30px 60px;
    margin-bottom: 30px;
    &__toprow {
        display: flex;
        align-items: center;
        padding-bottom: 14px;
    }

    &__expr {
        margin-left: auto;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--colorLightgray);
    }

    &__target {
        font-size: 1.3rem;
        font-weight: 600;
        &--color_n1{
			color: #918458;
		}

		&--color_n2{
			color:#829100;
		}

		&--color_n3{
			color:#3c4f5a;
		}

		&--color_n4{
			color:#e8941c;
		}

		&--color_n5{
			color:#e56c24;
		}

		&--color_n6{
			color:#6bb5d2;
		}
    }

    &__title {
        font-weight: 600;
        line-height: 1.34;
        padding-bottom: 20px;
    }

    &__desc{
    	font-size: 1.6rem;
    	line-height: 1.34;
    	padding-bottom: 22px;
    }

    &__img{

    	margin-bottom: 20px;
  
    }

    &__variants{
    	display: block;
    	
    }

    &__img,&__variants,&__results{
    	width: 600px;
    	max-width: 100%;
    }

    &__results{
    	padding-top: 4px;
    }

    &__radioinp{
    	display: none;
    }

    &__varbtn{
    	display: flex;
    	width: 100%;
    	min-height: 80px;
    	background-color: #ffffff;
		border: solid 1px #dadde6;
		text-align: left;
		padding: 10px 40px 10px 60px;
		align-items: center;
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 10px;
		position: relative;
		&:before{
			position: absolute;
			width: 20px;
			height: 20px;
			content: "";
			border-radius: 50%;
			background: url(../img/circle_empty.svg?datauri) center no-repeat;
			background-size: contain;
			top: 50%;
			left: 19px;
			margin-top: -10px;
		}
		&--active{
			background-color: #f3f7fa;
			&:before{
				background-image: url(../img/circle_blue.svg?datauri);
			}
		}


    }
	&__btnwrap {
		margin-top: 30px;
	}

}