.b-pollhead {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    &__link {
        font-weight: 600;
        color: inherit!important;
        display: inline-block;
        &--with-count {
            padding-right: 35px;
            position: relative;
        }
    }

    &__counter {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #e9edf0;
        font-family: ProximaNova;
        font-size: 12px;
        line-height: 30px;
        display: inline-block;
        overflow: hidden;
        right: 0;
        top: 50%;
        margin-top: -15px;
        text-align: center;
    }


    &__item {
        font-size: 1.8rem;
        color: var(--colorLightgray);
        margin-right: 46px;
        padding-bottom: 28px;
        &:last-child {
            margin-right: 0;
        }

        &--active {
            color: inherit;
            font-size: 2.2rem;
            border-bottom: 3px solid var(--colorLightblue);
        }
    }
}