.b-preloader {
    /*position: fixed;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    transform: translateZ(0);
    &--active {
        opacity: 1;
        visibility: visible;
    }

    &__pic{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        pointer-events: none;

    }*/
    display: none!important;
}