.b-profile-avatar {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__name {
        font-size: 16px;
        font-weight: bold;
        line-height: 2.5;
    }
}