.b-progress {
    padding-bottom: 18px;
    &__toprow {
        display: flex;
        align-items: center;
        padding-bottom: 6px;
    }
    &__percents {
        margin-left: auto;
    }
    &__barwrap {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        text-align: center;
        background-color: #f3f7fa;
    }
    &__bar {
        height: 26px;
        color: #fff;
        background-color: #dadde6;
    }

    &__text {
        font-size: 12px;
        line-height: 26px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }


    &--active>&__toprow {
        font-weight: 600;
        color: var(--colorLightblue);
    }

    &--active>&__barwrap>&__count {
        font-weight: 700;
    }

    &--active>&__barwrap>&__bar {
        background-color: var(--colorLightblue);
    }
}