.b-profile-link {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-right: -20px;
    margin-left: -20px;
    padding: 8px 20px;
    &__avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &__name {
        padding-left: 10px;
        font-size: 14px;
        color: #ffffff;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__exitlink{
        font-size: 1.6rem;
        color: #4d5063!important;
        margin-left: auto;
        &:hover{
            color:#fff!important;
        }
    }

    &:after {
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: #47acfa;
        top: 0;
        left: 0;
        content: "";
        transition: all 0.1s;
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}