.b-schedule{
	background: #fff;
	padding: 40px 0;
	&__table{
		width: 100%;
	}
	&__th{
		font-size: 1.2rem;
		color: #47acfa;
		font-weight: 600;
		padding: 0 30px 0;
	}

	&__td{
		padding: 22px 30px 0 30px;
		line-height: 1.3;
		&--bold{
			font-weight: bold;
			line-height: 1.3;
		}
	}

}