.b-scores {
    display: flex;
    justify-content: space-between;
    padding: 13px 0 45px 3px;
    &__leaf {
        list-style: none;
        flex: 10;
        &:last-child{
        	flex: 6;
        }
    }
    &__digits {
        font-size: 3.4rem;
        /*font-weight: 300;*/
        color: var(--colorLightblue);
    }

    &__text{
    	font-size: 1.3rem;
		line-height: 1.08;
    }
}