.b-sldwiththubms{
	position: relative;
	&__thumbs{
		display: flex;
		justify-content: space-between;
		padding: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	&__thumb{
		width: 32.5%;
		display: block;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		&:hover{
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		}
	}

	&__thumbimg{
		width: 100%;
		height: auto;
	}
}