.b-socicons {
    @apply --clearfix;
    &__ico {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        display: block;
        float: left;
        margin-right: 10px;
        color: #fff!important;
        overflow: hidden;
        font-size: 1.8rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover{
        	opacity: 0.9;
        }
        &--soc_vk {
            background-color: #4d7fa3;
        }

        &--soc_fb {
            background-color: #456097;
        }

        &>.ico {
            line-height: 40px;
        }
    }
}