.b-socgroup {
    display: flex;
    align-items: center;
    &:hover {
        opacity: 0.9;
    }
    &--vk {
        color: #4d7fa3;
    }

    &--in-calendar{
    	margin: 24px 0;
    }

    &--fb {
        color: #456097;
    }

    &__title {
        padding-left: 11px;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    &__ico {
        font-size: 1.9rem;
    }


}