.b-supporthead{
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	&__right-block{
		margin-left: auto;
		font-size: 1.3rem;
		font-weight: 600;
	}
	&__backbtn{
		font-size: 1.2rem;
		display: block;
		text-align: center;
		line-height: 44px;
		color: #000520!important;
		width: 44px;
		height: 44px;
		border-radius: 4px;
		background-color: #e2e7eb;
		transition: background-color 0.2s, color 0.13s;
		&:hover,&:active,&:focus{
			background-color: #47acfa;
    		color: #fff!important;
		}
	}

	&__title{
		padding-left: 20px;
	}

	&__time{
		color: var(--colorLightgray);
		padding-bottom: 4px;
	}

	&__status{
		&--attention {
            color: var(--colorOrangeN1)
        }

        &--success {
            color: var(--colorSuccess);
        }
	}

	
}