.b-subcontacts {
    &__title {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0 30px;
    }
    &__columns-wrap {
        @apply --clearfix;
    }
    &__list {
        float: left;
        padding-left: 0;
        &--n_1 {
            width: 40%;
        }
        &--n_2 {
            width: 60%;
            padding-left: 30px;
        }
        &>li {

            list-style: none;
            padding-bottom: 15px;
            &:nth-of-type(even) {}
            &>a {
                color: inherit;
                font-size: 16px;
                line-height: 1.25;
                &:hover{
                	text-decoration: underline;
                }
            }
        }
    }
}