.b-teaser {
    width: 310px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px 34px;
    margin-bottom: 25px;
    position: relative;
    display: block;
    color: inherit;
    &:hover{
    	opacity: 0.95;
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .085), 0 0 8px rgba(191, 207, 222, .7);
    }
    &__thumb {
        display: block;
        height: auto;
        margin: 0 -20px 16px;
    }

    &__title {
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 1.3rem;
        color: var(--colorGray);
        line-height: 1.33;
        margin-bottom: 20px;
		overflow: hidden;
        min-height: 75px;
    }

    &__details {
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
    }

    &__category {
        color: var(--colorLightgray);
        &--color_n1{
            color: #918458;
        }

        &--color_n2{
            color:#829100;
        }

        &--color_n3{
            color:#3c4f5a;
        }

        &--color_n4{
            color:#e8941c;
        }

        &--color_n5{
            color:#e56c24;
        }

        &--color_n6{
            color:#6bb5d2;
        }
    }
}