.b-textgrid{
	flex-wrap: wrap;
	display: flex;
	padding: 0 0 10px;
	justify-content: space-between;
	&__leaf{
		width: 234px;
		list-style: none;
		display: block;
		line-height: 1.43;
		padding-bottom: 20px;
	}
	
	&--ta_center{
		text-align: center;
	}
	&--v_2>&__leaf{
		width: 160px;
	}
}