.b-tilecard {
    height: 114px;
    background-color: #f3f7fa;
    padding: 20px 24px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: inherit;

    &__top-row{
    	display: flex;
    	align-items: center;
    	padding-bottom: 14px;
    }
    &__icowrap{
    	padding-right: 12px;
    }
    &__title {
        color: #231f20;
        font-weight: 700;
        
    }
    &__ico {
        @apply --roundIcon;
    }
    

	
	&--tall{
		height: 240px;
		padding: 12px 32px 20px;
	}
    &--tall > &__inner > &__top-row{
		flex-direction: column;
		align-items: flex-start;
    }

    &--tall > &__inner > &__top-row >&__icowrap{
    	padding-bottom: 1.15rem;
    }
}

a.b-tilecard:hover{
    opacity: .95;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.085),0 0 8px rgba(191,207,222,.7);
}