.b-timetbl {
    padding: 30px 20px;
    background: #fff;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        width: 36px;
        right: 20px;
        top: 0;
        bottom: 0;
        z-index: 100;
    }
    &__days {
        padding-bottom: 10px;
    }

    &__daycol{
        width: 64px;
    }
    &__daycont {
        width: 60px;
        text-align: center;
        height: 60px;
        cursor: pointer;
        &:hover {
            color: var(--colorLightblue);
        }
        &--active {
            color: var(--colorLightblue);
            box-shadow: inset 0 -3px 0 0 var(--colorLightblue);
        }
    }
    &__daynum {
        font-size: 1.8rem;
        padding-bottom: 5px;
        pointer-events: none;
    }


    &__dayname {
        font-size: 1.2rem;
        color: var(--colorLightgray);
        pointer-events: none;
    }

    &__grid {
        @apply --clearfix;
    }

    &__left-col {
        width: 140px;
        padding-right: 20px;
        float: left;
    }

    &__right-col {
        width: calc(100% - 140px);
        float: left;
    }

    &__daycardscol{
        width: 234px;
    }

    &__row-head-for-daycard {
        height: 101px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1.38;
        &--v_2{
            height: 323px;
            margin-bottom: 40px;
            display: block;
            padding-top: 29px;
        }
    }
}

.b-timetbl__daycont--active>.b-timetbl__dayname,
.b-timetbl__daycont:hover>.b-timetbl__dayname {
    color: var(--colorLightblue);
}

.b-timetbl__daycardscol--v_2>.b-daycard{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 40px;
    }
}
