.b-webcamcard {
    width: 310px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    margin-bottom: 25px;
    display: block;
    color: inherit;
    &:hover {
        opacity: 0.95;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .085), 0 0 8px rgba(191, 207, 222, .7);
    }

    &__picwrap {
        margin: 0 -20px 22px;
        position: relative;
    }

    &__pic {
        display: block;
        height: auto;
    }

    &__title {
        line-height: 1.3;
        font-weight: 600;
        font-size: 1.4rem;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.33;
        margin-bottom: 20px;
        overflow: hidden;
    }

    &__play-btn {
        width: 49px;
        height: 49px;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 50%;
        text-align: center;
        line-height: 49px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        font-size: 1.8rem;
    }
}