.b-webcams-list {
    &__title {
        font-size: 1.8rem;
        color: #333;
        padding: 8px 0 20px;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:after {
            content: "";
            width: 310px;
            visibility: hidden;
            pointer-events: none;
        }
    }
}