<div class="b-bnrslider swiper-container" id="bnrSlider">
    <div class="swiper-wrapper">
        {% for item in range(1,5) %}
        <div class="swiper-slide">
            <div class="b-bnr2" style="background-image: url(/img/b-bn/10.jpg);">
                <div class="b-bnr2__content">
                    <div class="b-bnr2__title">Бесплатное подключение к интернету и телефонии</div>
                    <div class="b-bnr2__text">Для собственников квартир ул. Березовая, д. 10, 11, 12, 13, 14,
                        <br> ул. Ермолинская, д. 1, ул. В.Н. Фокина, д. 2</div>
                    <div class="b-bnr2__btnwrap">
                        <a href="#" class="b-bnr2__btn">Заказать подключение</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="b-bnrslider__pagination"></div>
</div>