{% macro block(id, labelText, isAccept, isRequired) %}
<div class="b-custom-checkbox">
    <input type="checkbox" class="b-custom-checkbox__input" id="{{id}}" name="agree" {% if isRequired %}required="required"{% endif %}>
    <label for="{{id}}" class="b-custom-checkbox__label">
        {% if isAccept %} Подтверждаю свое <a class="b-custom-checkbox__link text-primary" data-fancybox="" data-src="#privacyTextModal">согласие на обработку персональных данных</a> {% else %} {{labelText}}{% endif %}
    </label>
</div>
{% endmacro %}