<div class="l-split l-split--gutter_20">
	{% for item in range(0,2) %}
	<div class="l-split__half">
		<dl class="b-dl">
		    {% for item in range(1,4) %}
		    	<dt class="b-dl__title">
		    	    Химки, квартал Международный,</dt>
		    	<dd class="b-dl__def">Весенний бульвар д. 2 / Корпус 19</dd>
		    {% endfor %}
		</dl>
	</div>
	{% endfor %}
</div>

	

