<div class="b-notifications">
	<button class="b-notifications__close-btn"><i class="b-notifications__close-icon ico ico-close-thick"></i></button>
	<div class="b-notifications__box">
		{% for item in range(1,6) %}
		<a href="#" class="b-notifications__message">
			<div class="b-notifications__date">Сегодня в 16:00</div>
			<div class="b-notifications__text">Осталось 8 квартир по акционной цене с документами!</div>
		</a>
		{% endfor %}
		<a href="#" class="b-notifications__bottom-item text-center">Показать прочитанные уведомления</a>
	</div>
</div>