<div class="b-subcontacts">
	<h4 class="b-subcontacts__title">КОНТАКТЫ ОБЪЕКТОВ ИНФРАСТРУКТУРЫ РАЙОНА</h4>
	<div class="b-subcontacts__columns-wrap">
		<ul class="b-subcontacts__list b-subcontacts__list--n_1">
		    <li><a data-ctid="100" href="#">Газпромнефть заправки</a></li>
		    <li><a data-ctid="101" href="#">Автосервис</a></li>
		    <li><a data-ctid="102" href="#">Разборка-груз.Ru</a></li>
		    <li><a data-ctid="103" href="#">House hotel</a></li>
		    <li><a data-ctid="104" href="#">Мини-гостиница видное-отель</a></li>
		    <li><a data-ctid="105" href="#">Пиццерия санторини</a></li>
		    <li><a data-ctid="106" href="#">Кафе заварка</a></li>
		    <li><a data-ctid="107" href="#">Famille cafe</a></li>
		    <li><a data-ctid="108" href="#">Бар суворов</a></li>
		    <li><a data-ctid="109" href="#">Декор-лайт</a></li>
		    <li><a data-ctid="110" href="#">Строительный магазин кемпас</a></li>
		    <li><a data-ctid="120" href="#">Санмаркет</a></li>
		    <li><a data-ctid="130" href="#">Магазин атак</a></li>
		</ul>
		<ul class="b-subcontacts__list b-subcontacts__list--n_2">
		    <li><a data-ctid="140" href="#">Магазин дикси</a></li>
		    <li><a data-ctid="150" href="#">Аптека желаем здоровья</a></li>
		    <li><a data-ctid="160" href="#">Аптека ригла</a></li>
		    <li><a data-ctid="170" href="#">Аптека хэлпфарма</a></li>
		    <li><a data-ctid="180" href="#">Московский кредитный банк, банкомат</a></li>
		    <li><a data-ctid="190" href="#">Промсвязьбанк, банкомат</a></li>
		    <li><a data-ctid="200" href="#">Банк москвы, банкомат</a></li>
		    <li><a data-ctid="400" href="#">Втб 24, банкомат</a></li>
		    <li><a data-ctid="300" href="#">Сбербанк россии, банкомат</a></li>
		    <li><a data-ctid="500" href="#">Райффайзенбанк, банкомат</a></li>
		    <li><a data-ctid="600" href="#">Массажный салон, сауна</a></li>
		    <li><a data-ctid="700" href="#">Салон красоты лабиринт</a></li>
		    <li><a data-ctid="900" href="#">Парикмахерская, салон красоты эконом-класс штучка</a></li>
		    <li><a data-ctid="181" href="#">Салон красоты мишель</a></li>
		</ul>
	</div>
</div>