{% macro block(id) %}
<div class="b-timetbl" id="{{id}}">
    <div class="b-timetbl__days swiper-container">
        <div class="swiper-wrapper">
            {% for i in range(1,30) %}
            <div class="b-timetbl__daycol swiper-slide">
                <div class="b-timetbl__daycont{% if i === 1 %} b-timetbl__daycont--active{% endif %}">
                    <div class="b-timetbl__daynum">{{i}}</div>
                    <div class="b-timetbl__dayname">{{["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"][i % 7]}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="b-timetbl__grid">
        <div class="b-timetbl__left-col">
            <div class="b-timetbl__row-head-for-daycard">
                НОВО-МОЛОКОВО
            </div>
            <div class="b-timetbl__row-head-for-daycard">
                ЗАГОРОДНЫЙ КВАРТАЛ
            </div>
            <div class="b-timetbl__row-head-for-daycard">
                ЮЖНОЕ ВИДНОЕ
            </div>
            <div class="b-timetbl__row-head-for-daycard">
                ЮЖНАЯ ДОЛИНА
            </div>
        </div>
        <div class="b-timetbl__right-col">
            <div class="b-timetbl__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="b-timetbl__daycardscol swiper-slide">
                        <div class="b-daycard b-daycard--pay b-daycard--violet js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">СЕГОДНЯ 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                        <div class="b-daycard b-daycard--empty"></div>
                        <div class="b-daycard b-daycard--green js-culture-popup" data-href="/ajax/get_culture_popup_empty_prop.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">СЕГОДНЯ 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">РАЗВИВАЮЩАЯ ПРОГРАММА</div>
                        </div>
                        <div class="b-daycard b-daycard--khaki js-culture-popup" data-href="/ajax/get_culture_popup_empty_desc.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">СЕГОДНЯ 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                    </div>
                    <div class="b-timetbl__daycardscol swiper-slide js-culture-popup" data-href="/ajax/get_culture_popup.json">
                        <div class="b-daycard b-daycard--pay b-daycard--khaki">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">ЗАВТРА 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                        <div class="b-daycard b-daycard--violet js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">ЗАВТРА 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                        <div class="b-daycard b-daycard--pay b-daycard--green js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">ЗАВТРА 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">РАЗВИВАЮЩАЯ ПРОГРАММА</div>
                        </div>
                        <div class="b-daycard b-daycard--empty"></div>
                    </div>
                    {% for d in range(7,9) %}
                    <div class="b-timetbl__daycardscol swiper-slide">
                        <div class="b-daycard b-daycard--violet js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                        <div class="b-daycard b-daycard--pay b-daycard--green js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">РАЗВИВАЮЩАЯ ПРОГРАММА</div>
                        </div>
                        <div class="b-daycard b-daycard--blue js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                        <div class="b-daycard b-daycard--pay b-daycard--khaki js-culture-popup" data-href="/ajax/get_culture_popup.json">
                            <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                            <div class="b-daycard__event">КОВОРКИНГ</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}