{% macro block(id) %}
<div class="b-timetbl" style="padding-left: 30px;" id="{{id}}">
    <div class="b-timetbl__days swiper-container">
        <div class="swiper-wrapper">
            {% for i in range(1,30) %}
            <div class="b-timetbl__daycol b-timetbl__daycol swiper-slide">
                <div class="b-timetbl__daycont{% if i === 1 %} b-timetbl__daycont--active{% endif %}">
                    <div class="b-timetbl__daynum">{{i}}</div>
                    <div class="b-timetbl__dayname">{{["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"][i % 7]}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% for gridNum in range(1,3) %}
        <div class="b-timetbl__grid">
            <div class="b-timetbl__left-col">
                {% if gridNum === 1 %}
                    <div class="b-timetbl__row-head-for-daycard b-timetbl__row-head-for-daycard--v_2">
                        НОВО-МОЛОКОВО
                        <a href="https://vk.com/rdi.developer" target="_blank" class="b-socgroup b-socgroup--vk b-socgroup--in-calendar">
                            <i class="b-socgroup__ico ico ico-soc-vk"></i>
                            <div class="b-socgroup__title">ГРУППА<br>ВКОНТАКТЕ</div>
                        </a>
                        <a href="http://www.facebook.com/rdi.developer" target="_blank" class="b-socgroup b-socgroup--fb b-socgroup--in-calendar">
                            <i class="b-socgroup__ico ico ico-soc-fb"></i>
                            <div class="b-socgroup__title">ГРУППА<br>ФЕЙСБУК</div>
                        </a>
                    </div>
                {% else %}
                    <div class="b-timetbl__row-head-for-daycard b-timetbl__row-head-for-daycard--v_2">
                        ЗАГОРОДНЫЙ КВАРТАЛ
                        <a href="https://vk.com/rdi.developer" target="_blank" class="b-socgroup b-socgroup--vk b-socgroup--in-calendar">
                            <i class="b-socgroup__ico ico ico-soc-vk"></i>
                            <div class="b-socgroup__title">ГРУППА<br>ВКОНТАКТЕ</div>
                        </a>
                        <a href="http://www.facebook.com/rdi.developer" target="_blank" class="b-socgroup b-socgroup--fb b-socgroup--in-calendar">
                            <i class="b-socgroup__ico ico ico-soc-fb"></i>
                            <div class="b-socgroup__title">ГРУППА<br>ФЕЙСБУК</div>
                        </a>
                    </div>
                {% endif %}
                
               
            </div>
            <div class="b-timetbl__right-col">
                <div class="b-timetbl__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="b-timetbl__daycardscol b-timetbl__daycardscol--v_2 swiper-slide">
                            {% for n in range(0,2) %}
                            <div class="b-daycard b-daycard--pay b-daycard--violet">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">СЕГОДНЯ 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">КОВОРКИНГ</div>
                            </div>
                            <div class="b-daycard b-daycard--empty"></div>
                            <div class="b-daycard b-daycard--green">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">СЕГОДНЯ 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">РАЗВИВАЮЩАЯ ПРОГРАММА</div>
                            </div>
        
                            {% endfor %}
                        </div>
                        <div class="b-timetbl__daycardscol b-timetbl__daycardscol--v_2 swiper-slide">
                            {% for n in range(0,2) %}
                            <div class="b-daycard b-daycard--pay b-daycard--khaki">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">ЗАВТРА 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">КОВОРКИНГ</div>
                            </div>
                            <div class="b-daycard b-daycard--violet">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">ЗАВТРА 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">КОВОРКИНГ</div>
                            </div>

                            <div class="b-daycard b-daycard--empty"></div>
                            {% endfor %}
                        </div>
                        {% for d in range(7,12) %}
                        <div class="b-timetbl__daycardscol b-timetbl__daycardscol--v_2 swiper-slide">
                            {% for n in range(0,2) %}
                            <div class="b-daycard b-daycard--violet">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">КОВОРКИНГ</div>
                            </div>
                            <div class="b-daycard b-daycard--pay b-daycard--green">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">РАЗВИВАЮЩАЯ ПРОГРАММА</div>
                            </div>
                            <div class="b-daycard b-daycard--blue">
                                <div class="b-daycard__time"><strong class="b-daycard__bold-text">{{d}} июня 11:00</strong> - 20:00</div>
                                <div class="b-daycard__event">КОВОРКИНГ</div>
                            </div>
                            
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>
{% endmacro %}